<div class="landing-container">
  <video id="background-video" autoplay muted loop>
    <source src="assets/video/home_video_fondo.mp4" type="video/mp4" />
  </video>
  <div id="content">
    <div id="slider-superior">
      <h1>Bienvenido a WorkWander</h1>
      <p>Tu plataforma para encontrar el espacio de coworking perfecto</p>
      <button mat-raised-button (click)="goToLogin()">Comenzar</button>
    </div>
    <div id="recuadro-funciones"></div>
    <div id="info-coworking"></div>
    <div id="reviews-coworking"></div>
    <div id="events"></div>
    <div id="company"></div>
  </div>
</div>
