<div class="main-container">
  <!-- Hero Section -->
  <header class="hero">
    <div class="logo-container">
      <img src="../../assets/images/sidenav-opened.png" alt="WorkWander Logo" />
    </div>
    <o-language-selector class="o-language-selector ng-star-inserted">
      <div
        fxlayout=""
        fxlayoutalign="center center"
        fxfill=""
        style="
          height: 100%;
          min-height: 100%;
          min-width: 100%;
          width: 100%;
          flex-direction: row;
          box-sizing: border-box;
          display: flex;
          place-content: center;
          align-items: center;
        "
      >
        <!----><button
          type="button"
          mat-button=""
          class="mat-mdc-menu-trigger menu-button o-language-selector-text mdc-button mat-mdc-button mat-unthemed mat-mdc-button-base ng-star-inserted"
          aria-haspopup="menu"
          aria-expanded="false"
        >
          <span
            class="mat-mdc-button-persistent-ripple mdc-button__ripple"
          ></span
          ><span class="mdc-button__label"><span>ES</span></span
          ><span class="mat-mdc-focus-indicator"></span
          ><span matripple="" class="mat-ripple mat-mdc-button-ripple"></span
          ><span class="mat-mdc-button-touch-target"></span></button
        ><!----><!---->
      </div>
      <mat-menu yposition="below" class="ng-star-inserted"><!----></mat-menu>
    </o-language-selector>
    <button class="login-button" (click)="goToLogin()">
      <span class="icon">🗝️</span>
      Iniciar sesión
    </button>
    <div class="hero-content">
      <h1>Coworking is the way</h1>
      <button
        class="btn-primary"
        (click)="registerUser(); $event.preventDefault()"
      >
        Registrar
      </button>
    </div>
  </header>
  <!-- Features Section -->
  <section class="features">
    <h2>Todo lo que necesitas en un solo lugar</h2>
    <div class="features-cards">
      <div class="feature-card" *ngFor="let feature of features">
        <span class="icon" [innerHTML]="feature.icon"></span>
        <h3>{{ feature.title }}</h3>
        <p>{{ feature.description }}</p>
      </div>
    </div>
  </section>
  <!-- Spaces Preview & Work Anywhere Section -->
  <section class="spaces-work-section">
    <div class="spaces-container">
      <h2>Espacios Destacados</h2>
      <div id="carousel">
        <p-carousel
          [value]="featuredSpaces"
          [numVisible]="3"
          [numScroll]="1"
          [circular]="true"
          [responsiveOptions]="responsiveOptions"
          [autoplayInterval]="3000"
        >
          <ng-template let-space pTemplate="item">
            <div class="space-card">
              <div>
                <img
                  [src]="space.image"
                  alt="Coworking Space"
                  class="space-image"
                />
              </div>
              <div class="space-info">
                <h3>{{ space.title }}</h3>
                <p>📍 {{ space.location }}</p>
                <p>⭐ {{ space.rating }}</p>
                <p class="price">{{ space.price }}€<span>/día</span></p>
              </div>
            </div>
          </ng-template>
        </p-carousel>
      </div>
    </div>

    <div class="work-anywhere">
      <div class="content">
        <h2>Trabaja en cualquier lugar</h2>
        <p>
          Encuentra coworkings y eventos, planifica tus rutas y reserva espacios
          de trabajo mientras viajas por el mundo. Que el trabajo no marque tus
          limites.
        </p>
        <button class="btn-primary" (click)="registerUser()">Regístrate</button>
      </div>
    </div>
  </section>
  <section class="testimonials">
    <div class="testimonial-cards">
      <div class="testimonial-card">
        <h3>Ana I. Ibáñez Manzano</h3>
        <p>
          ⭐⭐⭐⭐⭐
          <br />
          "Muchos espacios de calidad en Madrid. Todo perfecto, atención
          genial."
        </p>
      </div>
      <div class="testimonial-card">
        <h3>Borja R.</h3>
        <p>
          ⭐⭐⭐⭐
          <br />
          "Totalmente recomendable, siempre limpio y con buena atención."
        </p>
      </div>
      <div class="testimonial-card">
        <h3>Gabriela Vidal</h3>
        <p>
          ⭐⭐⭐⭐⭐
          <br />
          "Super profesionales, el mejor coworking que he probado."
        </p>
      </div>
    </div>
  </section>
</div>
