<o-form-layout-manager
  attr="myEvents"
  title="{{ 'MYEVENTS' | oTranslate }}"
  separator=" "
  mode="none"
  label-columns="name"
>
  <o-table
    #table
    delete-button="no"
    insert-button="no"
    refresh-button="yes"
    attr="myEventsTable"
    service="events"
    entity="myEvent"
    keys="id_event"
    columns="id_event;name;description;date_event;hour_event;address;location;bookings;usr_id"
    visible-columns="name;location;date_event;hour_event"
    query-rows="15"
    auto-adjust="true"
  >
    <!-- Columna para mostrar la fecha del evento -->
    <o-table-column
      attr="date_event"
      fxFlex
      title="DATE_EVENT"
      type="date"
      format="LL"
      width="20%"
    ></o-table-column>

    <!-- Columna para mostrar la hora del evento -->
    <o-table-column
      attr="hour_event"
      fxFlex
      title="HOUR_EVENT"
      format="LT"
      width="15%"
      content-align="center"
    ></o-table-column>

    <!-- Columna para mostrar el nombre del evento -->
    <o-table-column
      attr="name"
      fxFlex
      title="name"
      width="40%"
    ></o-table-column>

    <!-- Columna para la localidad del evento -->
    <o-table-column
      attr="location"
      fxFlex
      title="locality"
      width="25%"
    ></o-table-column>

    <!-- Columna para editar  evento-->
    <o-table-column
      attr="location"
      fxFlex
      title="locality"
      width="25%"
    ></o-table-column>
  </o-table>
</o-form-layout-manager>
