<o-form-layout-manager
  attr="myCoworkingsHome"
  title="{{ 'MYCOWORKINGS' | oTranslate }}"
  separator=" "
  mode="none"
  label-columns="cw_name"
>
  <o-table
    #table
    delete-button="no"
    insert-button="no"
    attr="myCoworkingsTable"
    service="coworkings"
    entity="myCoworking"
    keys="cw_id"
    columns="cw_id;cw_name;cw_address;cw_location;cw_capacity;cw_daily_price"
    visible-columns="cw_name;cw_address;cw_location;cw_capacity;cw_daily_price;deleteCoworking"
    query-rows="15"
    auto-adjust="true"
  >
    <o-table-column attr="cw_name" title="cw_name" width="30%"></o-table-column>
    <o-table-column
      attr="cw_address"
      title="cw_address"
      width="35%"
    ></o-table-column>
    <o-table-column
      attr="cw_location"
      title="cw_location"
      width="15%"
    ></o-table-column>
    <o-table-column
      attr="cw_capacity"
      title="cw_capacity"
      width="10%"
      content-align="end"
    ></o-table-column>
    <o-table-column
      attr="cw_daily_price"
      title="cw_daily_price"
      type="currency"
      currency-symbol-position="right"
      currency-symbol="€"
      decimal-digits="2"
      width="10%"
    ></o-table-column>
    <o-table-column
      #cancelCWbooking
      attr="deleteCoworking"
      title="DELETE"
      type="action"
      icon="delete"
      (onClick)="delete($event)"
    ></o-table-column>
  </o-table>
</o-form-layout-manager>
