.chart-container {
  height: 100vh;
}

.selector-container {
  display: flex;
  gap: 2rem;
}

.input-selector {
  flex: 1;
}

.noResults {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 20vh;
  font-size: xx-large;
}

o-form-layout-tabgroup .card-detalle div.button-back {
  display: none;
  visibility: hidden;
}
