<o-form show-header="false" class="chart-container" (onLoadData)="firstRequest()">
  <!-- Añadir el título aquí -->
  <div class="title">
    <h1>{{ "OCCUPANCY_PERCENTAGE_TITLE" | oTranslate }}</h1>
  </div>
  <!-- Combobox para seleccionar coworkings -->
  <div class="selector-container">
    <o-combo
      class="input-selector"
      #comboCoworkingInput
      attr="cw_name"
      service="coworkings"
      entity="coworkingByUser"
      label="{{ 'SELECT_COWORKING' | oTranslate }} {{ maxSelection }} {{
        ' coworkings.'
      }}"
      value-column="cw_id"
      columns="cw_name"
      visible-columns="cw_name"
      required="yes"
      formControlName="coworking"
      (onValueChange)="onCoworkingChange($event)"
      [multiple]="true"
      selected="allCoworkNames"
      (onSelectionChange)="onCoworkingChange($event)"
      multiple-trigger-label="true"
    >
    </o-combo>

    <!-- Date Range Selector -->

    <o-daterange-input
      class="input-selector"
      attr="daterange"
      #daterange
      fxFlex
      label="SELECT_DATE_RANGE"
      read-only="no"
      required="no"
      (onValueChange)="setDates()"
      startKey="startDate"
      endKey="endDate"
      value-type="date"
      [data]="dateInitEnd()"
      required="yes"
      locale="locale"
      format="L"
    ></o-daterange-input>
  </div>

  <div class="chart-wrapper">
    <ng-container *ngIf="isGraph; else noChartTemplate">
      <o-chart
        type="line"
        [chart-parameters]="getChartParameters()"
        [data]="getChartData()"
        color="forest"
        x-label="{{ 'X-LABEL' | oTranslate }}"
        y-label="{{ 'Y-LABEL' | oTranslate }}"
        x-data-type="date"
        y-data-type="number"
        show-legend="true"
        [color]="colorScheme"
        show-x-axis-label="true"
        show-y-axis-label="true"
        legend-position="below"
        legend-title="Legend"
        show-grid-lines="false"
      ></o-chart>
    </ng-container>
  </div>
  <ng-template #noChartTemplate>
    <div class="noResults">
      {{ "NO_CHART_AVAILABLE" | oTranslate }}
    </div>
  </ng-template>
</o-form>
