<div class="card-detalle">
  <div class="button-back">
    <o-button
      attr="iconposition3"
      icon="arrow_back_ios"
      (click)="goBack()"
    ></o-button>
  </div>
  <o-form
    #form
    attr="eventDetail"
    service="events"
    entity="event"
    keys="id_event"
    header-actions="R"
    show-header-navigation="no"
    ignore-default-navigation="yes"
    editable-detail="no"
    columns="id_event;name;bookings;date_event;hour_event;locality;address;description"
    header-position="top"
    layout-direction="row"
    stay-in-record-after-insert="true"
  >
    <div class="image-container">
      <!-- Campo para mostrar la imagen de evento -->
      <div [ngClass]="{ hidden: !form.getFieldValue('image_event') }">
        <!-- Ocultaremos el div cuando no exista "image_event" -->
        <!-- Necesitamos el o-image para que se carge la imagen en el campo image_event del form, sino no existiría el image_event -->
        <o-image
          attr="image_event"
          show-controls="no"
          read-only="yes"
          height="480px"
          width="450px"
          auto-fit="no"
        ></o-image>
      </div>
      <!-- En el caso de que no exista, cargaremos la imagen por defecto y se ocultará el div anterior -->
      <img
        *ngIf="!form.getFieldValue('image_event')"
        src="assets/images/event-default.jpg"
        alt="Imagen predeterminada"
        height="480px"
        width="450px"
      />
    </div>

    <!-- Información General -->
    <div class="info-container">
      <o-integer-input oHidden #id attr="id_event"></o-integer-input>
      <!-- Nombre -->
      <div>
        <h1>{{ form.getFieldValue("name") }}</h1>
        <o-text-input fxFlex="40" oHidden attr="name"></o-text-input>
      </div>
      <!-- Plazas -->
      <o-column class="detail-container">
        <!--bookings-->
        <p>
          <strong>{{ "BOOKINGS" | oTranslate }}:</strong>
          {{ form.getFieldValue("bookings") }}
        </p>
        <o-text-input oHidden attr="bookings"></o-text-input>
        <!--date_event-->
        <p>
          <strong>{{ "DATE_EVENT" | oTranslate }}:</strong>
          {{ formatDate(form.getFieldValue("date_event")) }}
        </p>
        <o-text-input oHidden attr="date_event"></o-text-input>
        <!--hour_event-->
        <p>
          <strong>{{ "HOUR_EVENT" | oTranslate }}:</strong>
          {{ form.getFieldValue("hour_event") }}
        </p>
        <o-text-input oHidden attr="hour_event"></o-text-input>
        <p>
          <strong>{{ "DURATION" | oTranslate }}:</strong>
          {{ durationConvert(form.getFieldValue("duration")) }}
        </p>
        <o-text-input oHidden attr="duration"></o-text-input>
        <!--location-->
        <p>
          <strong>{{ "LOCALITY" | oTranslate }}:</strong>
          {{ form.getFieldValue("locality") }}
        </p>
        <o-text-input oHidden attr="locality"></o-text-input>
        <!-- Direction -->
        <p>
          <strong>{{ "ADDRESS" | oTranslate }}:</strong>
          {{ form.getFieldValue("address") }}
        </p>
        <o-text-input oHidden attr="address"></o-text-input>
        <div class="info-container">
          <p>
            <strong>{{ "DESCRIPTION" | oTranslate }}:</strong>
            {{ form.getFieldValue("description") }}
          </p>
          <o-text-input oHidden attr="description"></o-text-input>
        </div>
      </o-column>
    </div>
    <div class="reservation-button" >
      <o-button
        #bookingButton
        attr="bookingButton"
        label="{{ 'BOOKING' | oTranslate }}"
        type="raised"
        color="primary"
        (click)="showConfirm()"
      ></o-button>
    </div>
  </o-form>
</div>
