<div class="full-page">
  <div class="register-outer-container">
    <div class="register-bg-container"></div>

    <div class="wrapp-register">
      <div
        fxFill
        fxLayout="column"
        fxLayoutAlign="center center"
        class="register-inner-container"
      >
        <o-form
          attr="userRegister"
          service="userRegister"
          entity="userRegister"
          keys="USERID"
          header-actions="U"
          show-header-navigation="no"
        >
          <o-column fxFlex title="REGISTER_USER">
            <o-text-input attr="name" label="Name" data="Jhon Doe"></o-text-input>
            <o-email-input attr="email" label="Email" data="john.doe@ontimize.com" read-only="no" required="yes"></o-email-input>
            <o-password-input attr="password" label="Password" data="password" read-only="no" required="yes"></o-password-input>
            <o-password-input attr="password2" label="Repeat Password" data="password" read-only="no" required="yes"></o-password-input>
            <o-button attr="Registrar" type="BASIC" label="Registrar" layout-padding color="primary"></o-button>
          </o-column>
        </o-form>
      </div>
    </div>
  </div>

  <div id="footer" class="footer-container">
    <div fxLayout="row" fxLayoutAlign="end center">
      <span>{{ "FOOTER_CREATED_BY" | oTranslate }}</span>
      <span> &copy; 2024 </span>
      <span>{{ "FOOTER_RIGHTS" | oTranslate }}</span>
    </div>
  </div>
</div>
