<div class="full-page">
  <div class="register-outer-container">
    <div class="register-bg-container"></div>

    <div class="wrapp-register">
      <div fxFill fxLayout="column" fxLayoutAlign="center center" class="register-inner-container" >
        <o-form #registerForm attr="userRegister" service="users" entity="user" keys="USR_ID" header-actions="I" show-header-navigation="no">
          <o-column fxFlex title="REGISTER_USER">
            <o-text-input name="LOGIN" attr="LOGIN" label="Name" data="" (onBlur) = "checkUserName()"></o-text-input>
            <o-email-input #emailInput name="EMAIL" attr="EMAIL" label="Email" data="" read-only="no" required="yes" (onBlur) = "checkEmail()"></o-email-input>
            <o-password-input attr="PASSWORD" label="Password" data="" read-only="no" required="yes"></o-password-input>
          </o-column>
        </o-form>
      </div>
    </div>
  </div>

  <div id="footer" class="footer-container">
    <div fxLayout="row" fxLayoutAlign="end center">
      <span>{{ "FOOTER_CREATED_BY" | oTranslate }}</span>
      <span> &copy; 2024 </span>
      <span>{{ "FOOTER_RIGHTS" | oTranslate }}</span>
    </div>
  </div>
</div>
