@use "../../../assets/css/workwander.scss" as *;

/* Formato Full page */
.full-page {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;

  .registerForm form.inner-form.form-no-toolbar {
    min-height: 100vh;
    justify-content: center;
    min-width: 368px;

    div.text-center {
      text-align: center;
    }
  }

  .login-inner-container form,
  .o-form form .o-form-content-wrapper {
    background-color: rgba($blanco, 0.4);
    border-radius: $borderRadius;
    padding: $padding;
    justify-content: center;
    min-height: unset !important;
  }

  .register-outer-container {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    justify-content: center;
  }

  .register-bg-container {
    background-image: unset;
    width: unset;
    background-repeat: no-repeat;
    background-size: unset;
    background-position: unset;
    position: unset;
    z-index: 1;
  }

  .register-bg-container::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba($primary, 0.1);
    opacity: 0.8;
  }
  .wrapp-register {
    width: 640px;
    min-height: 100%;
    z-index: 2;

    .register-inner-container {
      width: 100%;
    }

    form {
      padding: $paddingInterno;
      min-height: 600px;
      min-width: 368px;
    }
  }
}
.o-table .mat-mdc-table .mat-mdc-row:hover:not(.o-table-group-row) {
  background-color: $verdeBotonClaro !important;
}
