<div class="full-page">
  <div class="register-outer-container">
    <div class="register-bg-container">
      <video id="background-video" autoplay muted loop>
        <source src="assets/video/home_video_fondo.mp4" type="video/mp4">
      </video>
    </div>
    <div class="wrapp-register">
      <div fxFill fxLayout="column" fxLayoutAlign="center center" class="register-inner-container">
        <o-form #registerForm fxLayoutAlign="center"
          show-header="no" attr="userRegister" service="users" entity="user" keys="usr_id">
          <o-column fxFlex appearance="outline"> {{"REGISTER_TITLE" | oTranslate }}
            <div fxLayout="column" fxLayoutGap="15px">
              <o-text-input #nameInput attr="usr_login" label="{{ 'NAME' | oTranslate }}" data=""
                (onBlur)="checkUserName()" class="m-top-24"></o-text-input>
              <o-email-input #emailInput attr="usr_email" label="{{ 'usr_email' | oTranslate }}" data="" read-only="no"
                required="yes" (onBlur)="checkEmail()" class="m-top-24"></o-email-input>
              <o-password-input #passInput attr="usr_password" label="{{ 'PASSWORD' | oTranslate }}" data=""
                read-only="no" required="yes" class="m-top-24"></o-password-input>
              <o-text-input *ngIf="checkCompany()" #companyInput attr="usr_cif"
                label="{{ 'CIF_COMPANY' | oTranslate }}" (onBlur)="checkCif()" class="m-top-24"></o-text-input>
              <o-checkbox #checkBoxCompany attr="companyCheck" label="{{ 'COMPANYCB' | oTranslate }}"></o-checkbox>
              <button #submitButton (click)="insertUser(); $event.preventDefault();" class="m-top-24">{{"REGISTER" | oTranslate }}</button>
              <div class="text-center">
                <a href="#" (click)="goBack(); $event.preventDefault();" class="link-text">{{"IM_REGISTERED" | oTranslate }}</a>
              </div>
            </div>
          </o-column>
        </o-form>
      </div>
    </div>
  </div>


</div>

<div id="footer" class="footer-container">
  <div fxLayout="row" fxLayoutAlign="end center">
    <span>{{ "FOOTER_CREATED_BY" | oTranslate }}</span>
    <span> &copy; 2024 </span>
    <span>{{ "FOOTER_RIGHTS" | oTranslate }}</span>
  </div>
</div>
