/* Colores personalizados */
$primary: #7ba587;
$accent: #b9cebf;
$blanco: #f8f6f4;
$verdeBoton: #1a1a1a;

$primaryClaro: rgba($primary, 0.5);
$accentClaro: rgba($accent, 0.5);
$verdeBotonClaro: rgba($verdeBoton, 0.3);

$colorDegradadoFuerte: $primary;
$colorDegradadoSuave: $accent;
