/* Colores personalizados */
$primary: #8b5e3c;
$accent: #e6d5c3;
$blanco: #f8f6f4;
$verdeBoton: #5F6F65;

$primaryClaro: rgba($primary, 0.5);
$accentClaro: rgba($accent, 0.5);
$verdeBotonClaro: rgba($verdeBoton, 0.5);