@use "sass:map";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Tipografía*/
$typography: "Noto Sans";

/* Colores personalizados */
$primary: #8b5e3c;
$accent: #e6d5c3;
$blanco: #f8f6f4;
$verdeBoton: #5F6F65;
$primaryClaro: rgba($primary, 0.4);
$accentClaro: rgba($accent, 0.8);

$colorDegradadoFuerte: $primary;
$colorDegradadoSuave: $accent;

$borderRadius: 25px 5px 25px 5px;
$borderRadiusButton: 25px 5px 25px 25px;
$borderRadiusNav: 0px 0px 25px 0px;
$borderRadiusEqual: 25px;

$padding: 25px 25px 25px 25px;
$paddingInterno: 12px 16px;

h1, h2, h3, h4, h5, h6, p, a, span, div, button, input, mat-label, mat-mdc-form-field, mat-mdc-floating-label{
  font-family: $typography !important;
}

h1, h2, h3, h4, h5, h6{
  &:hover {
    animation: wave 1.5s ease-in-out ;
  }
}

// Tamaños de tipografías
$fontSize12: 12px;
$fontSize14: 14px;
$fontSize16: 16px;
$fontSize18: 18px;
$fontSize20: 20px;
$fontSize24: 24px;
$fontSize45: 45px;

// Grosores de tipografías
$fontLightThin: 100;
$fontThin: 200;
$fontLight: 300;
$fontRegular: 400;
$fontMedium: 500;
$fontSemiBold: 600;
$fontBold: 700;
$fontBlack: 800;
$fontHeavyBlack: 900;


// Gradientes de colores
$linear-gradientLR: linear-gradient(90deg, $colorDegradadoFuerte 0%, $colorDegradadoFuerte 5%, $colorDegradadoSuave 100%);
$linear-gradientRL: linear-gradient(270deg, $colorDegradadoFuerte 0%, $colorDegradadoFuerte 5%, $colorDegradadoSuave 100%);
$linear-gradientTB: linear-gradient(180deg, $colorDegradadoFuerte 0%, $colorDegradadoFuerte 5%, $colorDegradadoSuave 100%);
$linear-gradientBT: linear-gradient(0, $colorDegradadoFuerte 0%, $colorDegradadoFuerte 5%, $colorDegradadoSuave 100%);

/*   Video home page  */
#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

login {
  .full-page .login-outer-container .wrapp-login {
    width: 100vw;
    min-height: unset;
    z-index: 2;
  }

  .login-outer-container .wrapp-login .login-inner-container,
  .login-outer-container .wrapp-login {
    background-color: unset;
  }
  .full-page .login-outer-container .wrapp-login .login-inner-container form{
    padding: $padding;
  }

}

.cdk-overlay-container .cdk-global-overlay-wrapper {
  align-items: flex-start !important;
  margin-top: 25px;
  margin-left: -7px;

  .mdc-snackbar__surface {
    background-color: $primary;
    padding: 15px 25px;
    border-radius: $borderRadius;
  }
  .mdc-snackbar__label {
    color: $accent;
    font-size: $fontSize14;
    padding:0;
  }
  span.mdc-button__label {
    color: $verdeBoton;
    font: $fontSize12;
  }
  .mat-mdc-snack-bar-actions.mdc-snackbar__actions.ng-star-inserted{
    background-color: $accent;
    border-radius: 15px;
  }
  button.mat-simple-snackbar-action.ng-star-inserted {
    border-radius: 15px;
    padding: 5px 15px;
    background-color: $accent;
    border-color: $accent;
  }
}

#footer{
  background-color: $primary;
  color: $accent;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  z-index: 2;

  div {
    height: 40px;
    margin-right: 50px;

    span {
      font-size: $fontSize12;
      padding-right: 4px;
    }
  }

}

.m-top-24 {
  margin-top: 24px;
}

.full-page {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;


  .title_text {
    font-size: $fontSize14;
    font-weight: 600;
  }

  .registerForm form.inner-form.form-no-toolbar {
    min-height: 100vh;
    justify-content: center;
    min-width: 368px;

    button {
      width: 100%;
      margin: 32px 0 0;
      height: 42px;
      font-size: $fontSize16;
      border: unset;
    }

    div.text-center{
      text-align: center;
    }
  }

  .login-inner-container form,
  .o-form form .o-form-content-wrapper {
    background-color: rgba($blanco, 0.4);
    border-radius: $borderRadius;
    padding: $padding;
    justify-content: center;
    min-height: unset !important;
  }

  .login-outer-container {
    justify-content: center;

    .wrapp-login .login-inner-container form .login-title-container {
      margin-top: unset;
    }

  }
  .register-outer-container {
      width: 100%;
      height: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      flex-wrap: wrap;
      overflow: auto;
      justify-content: center;
  }

  .register-bg-container {
      background-image: unset;
      width: unset;
      background-repeat: no-repeat;
      background-size: unset;
      background-position: unset;
      position: unset;
      z-index: 1;
  }

    .register-bg-container::before {
      content: "";
      display: block;
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba($primary, .1);
      opacity: .8;
    }
    .wrapp-register {
      width: 640px;
      min-height: 100%;
      z-index: 2;

      .register-inner-container{
          width: 100%;
      }

      form {
        padding: $paddingInterno;
        min-height: 600px;
        min-width: 368px;
      }
    }
}

o-form.o-form o-column.o-column.o-appearance-outline {
  border-radius: $borderRadius;
  background-color: rgba($blanco, 0.4);
  padding: $padding;
}

.o-data-toolbar.o-data-toolbar.o-grid-toolbar.ng-star-inserted {
  background-color: $blanco;
  padding: $padding;
  border-radius: $borderRadiusButton;
  margin-bottom: 25px;
}

.o-table .mat-mdc-table .mat-mdc-row:hover:not(.o-table-group-row) {
  background-color: $accent;
}

.o-app-header .o-user-info {
  color: $accentClaro;
}

.o-app-header.o-app-header-medium.header-layout {
  background: $blanco;
}

.o-column.o-appearance-outline .o-container-outline {
    .o-container-outline-end,
    .o-container-outline-start,
    .o-container-outline-gap{
      border-width: 0;
    }
}
.o-column.form-section.o-column,
.card.ng-star-inserted {
  -webkit-box-shadow: -1px -1px 9px 4px $primaryClaro;
  -moz-box-shadow: -1px -1px 9px 4px $primaryClaro;
  box-shadow: -1px -1px 9px 4px $primaryClaro;
  transition: all 0.5s ease-in-out;
}
.o-column.form-section.o-column:hover,
.card.ng-star-inserted:hover {
  box-shadow: -1px -1px 9px 9px $primaryClaro;
  -webkit-box-shadow: -1px -1px 9px 9px $primaryClaro;
  -moz-box-shadow: -1px -1px 9px 9px $primaryClaro;
  transition: all 0.5s ease-in-out;
}


/*  Barra de navegación lateral  */
.navMenu {
  background-image: $linear-gradientBT;
}

.o-app-sidenav {

  .o-app-sidenav-container .o-app-header{
    background-image: $linear-gradientRL;
  }

  .ng-star-inserted{
    place-content: center flex-end;
    justify-content: space-between;
    //background-color: $accent;
  }

  nav.ng-star-inserted:nth-last-child(2) {
    background-color: $accent;
    position: absolute;
    border-radius: 25px;
    margin: 0px 5px 0 5px;
    transition: all 0.2s;
    top:unset;
    bottom: 25px;
    right: 0;

    .o-app-sidenav-menu-item:not([disabled=true]) a:hover {
      border-radius: 25px !important;
      border-left: none;
    }
  }

  .o-app-sidenav-menu-group a,
  .o-app-sidenav-menu-item a {
    margin: 0px 5px 0 5px;
    color: $primary;
  }

  .o-app-sidenav-menu-item:not([disabled=true]) a:hover {
    border-radius: $borderRadius;
    transition: all 0.2s;
    margin: unset;
    border-left: unset;
  }

  .o-app-sidenav-sidenav {
    background-image: $linear-gradientBT;
    background-color: $primary;

    .mat-drawer.o-app-sidenav-sidenav .mat-drawer-inner-container nav a {
      border-radius: $borderRadius;
    }
    .sidenav-toggle {
      color: $primary !important;

      :hover{
        color: rgba($primary, 0.5) !important;
        transition: all 0.5s ease-in;
      }
    }

    li a{
      color: $primary !important;
    }
  }

  .o-app-sidenav-menu-group:not([disabled=true]) a:hover
  .o-app-sidenav-menu-item:not([disabled=true]) a:hover {
    color: $primary !important;
    background-color: $accentClaro !important;
    border-left: 8px solid $primary !important;
  }

  .o-app-sidenav-menu-item:not([disabled=true]) a.o-app-sidenav-viewer-sidenav-item-selected {
    background-color: $accentClaro;
    color: $primary;
    border-left: 8px solid $accentClaro;
  }

}

/* Estilo para los campos de formulario */
.mat-form-field {
  width: 100%; /* Asegura que los campos ocupen el 100% del contenedor */
  border-radius: $borderRadius; /* Bordes redondeados */
  background: $blanco; /* Fondo blanco */
  box-shadow: 0 4px 20px rgba($primary, 0.15); /* Sombra sutil */
  transition: box-shadow 0.3s ease, transform 0.3s ease; /* Transiciones suaves */
}

/* Estilo de las etiquetas */
.mat-label {
  font-weight: 600; /* Etiquetas en negrita */
  color: $verdeBoton; /* Color gris oscuro */
  transition: color 0.3s ease; /* Transición suave para el color */
}

/* Color de los botones */
.mat-button {
  color: $primary; /* Color de los botones */
}


/* Color de los iconos */
.mat-icon {
  color: $primary; /* Color azul moderno para iconos */
}

/* Estilo para el toggle del datepicker */
.mat-datepicker-toggle {
  color: $primary; /* Color para el toggle del datepicker */
}
/* Estilo de los MAT */
.mat-mdc-raised-button:not(:disabled):not(.mat-secondary) {
  background-color: $primary !important;
  color: $accent !important;
}

.mat-mdc-dialog-actions button:not([disabled]).mat-mdc-button-base:hover,
.mat-mdc-dialog-actions button:not([disabled]).mat-mdc-button-base.mat-accent:hover,
.o-form .o-form-toolbar button:not([disabled]).o-form-toolbar-button.mat-mdc-button-base:hover,
.o-form .o-form-toolbar button:not([disabled]).o-form-toolbar-button.mat-mdc-button-base.mat-accent:hover,
.o-grid .o-grid-toolbar button.o-grid-button:not([disabled]).mat-mdc-button-base:hover,
.o-grid .o-grid-toolbar button.o-grid-button:not([disabled]).mat-mdc-button-base.mat-accent:hover,
.o-list .o-list-toolbar button.o-list-button:not([disabled]).mat-mdc-button-base:hover,
.o-list .o-list-toolbar button.o-list-button:not([disabled]).mat-mdc-button-base.mat-accent:hover,
.ontimize-table.o-table .o-table-container .o-table-toolbar .buttons .o-table-button button:not([disabled]).mat-mdc-button-base:hover,
.ontimize-table.o-table .o-table-container .o-table-toolbar .buttons .o-table-button button:not([disabled]).mat-mdc-button-base.mat-accent:hover {
  color: $primary;
  background-color: $accent;
  border-color: transparent;
}
.mat-mdc-dialog-actions button:not([disabled]).mat-mdc-button-base.mat-primary,
.mat-mdc-dialog-actions button:not([disabled]).mat-mdc-button-base.o-button-primary,
.o-form .o-form-toolbar button:not([disabled]).o-form-toolbar-button.mat-mdc-button-base.mat-primary,
.o-form .o-form-toolbar button:not([disabled]).o-form-toolbar-button.mat-mdc-button-base.o-button-primary,
.o-grid .o-grid-toolbar button.o-grid-button:not([disabled]).mat-mdc-button-base.mat-primary,
.o-grid .o-grid-toolbar button.o-grid-button:not([disabled]).mat-mdc-button-base.o-button-primary,
.o-list .o-list-toolbar button.o-list-button:not([disabled]).mat-mdc-button-base.mat-primary,
.o-list .o-list-toolbar button.o-list-button:not([disabled]).mat-mdc-button-base.o-button-primary,
.ontimize-table.o-table .o-table-container .o-table-toolbar .buttons .o-table-button button:not([disabled]).mat-mdc-button-base.mat-primary,
.ontimize-table.o-table .o-table-container .o-table-toolbar .buttons .o-table-button button:not([disabled]).mat-mdc-button-base.o-button-primary {
  color: $blanco;
  background-color: $verdeBoton;
  border-color: transparent;
}

.mat-mdc-dialog-actions button:not([disabled]).mat-mdc-button-base.mat-primary:hover,
.mat-mdc-dialog-actions button:not([disabled]).mat-mdc-button-base.o-button-primary:hover,
.o-form .o-form-toolbar button:not([disabled]).o-form-toolbar-button.mat-mdc-button-base.mat-primary:hover,
.o-form .o-form-toolbar button:not([disabled]).o-form-toolbar-button.mat-mdc-button-base.o-button-primary:hover,
.o-grid .o-grid-toolbar button.o-grid-button:not([disabled]).mat-mdc-button-base.mat-primary:hover,
.o-grid .o-grid-toolbar button.o-grid-button:not([disabled]).mat-mdc-button-base.o-button-primary:hover,
.o-list .o-list-toolbar button.o-list-button:not([disabled]).mat-mdc-button-base.mat-primary:hover,
.o-list .o-list-toolbar button.o-list-button:not([disabled]).mat-mdc-button-base.o-button-primary:hover,
.ontimize-table.o-table .o-table-container .o-table-toolbar .buttons .o-table-button button:not([disabled]).mat-mdc-button-base.mat-primary:hover,
.ontimize-table.o-table .o-table-container .o-table-toolbar .buttons .o-table-button button:not([disabled]).mat-mdc-button-base.o-button-primary:hover {
  color: $primary;
  background-color: $blanco;
  border-color: $primaryClaro;
}

a.mdc-button.mat-mdc-button.mat-unthemed.mat-mdc-button-base.ng-star-inserted:hover {
  border-radius: $borderRadiusNav;
}

a.mdc-button.mat-mdc-button.o-app-sidenav-viewer-sidenav-item-selected.mat-unthemed.mat-mdc-button-base.ng-star-inserted{
  border-left: 8px solid $primary;
  border-radius: $borderRadiusNav;
}

mat-toolbar.mat-toolbar.o-form-toolbar-header.mat-toolbar-single-row {
  border-radius: $borderRadiusButton;
}

button .mat-mdc-button:not(:disabled) {
  color: $accentClaro;
}

/* Estilo de los inputs */
#precioDetalle .mat-mdc-input-element{
  font-size: 4em;
  text-align: end;
}
input.mat-input-element {
  border: 1px solid $blanco; /* Borde de los inputs */
  border-radius: 12px; /* Bordes redondeados en los inputs */
  padding: $paddingInterno; /* Espaciado interno */
  transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Transiciones suaves */
}

/* Efecto al enfocar el input */
input.mat-input-element:focus {
  border-color: $primary; /* Color del borde al enfocar el input */
  box-shadow: 0 0 5px rgba($primary, 0.5); /* Sombra al enfocar */
}

/* Estilo para inputs deshabilitados */
input.mat-input-element:disabled {
  background-color: $blanco; /* Color de fondo para inputs deshabilitados */
  opacity: 0.7; /* Reduce la opacidad */
}

/* Estilo para el calendario del datepicker */
.mat-datepicker-content {
  background: $blanco; /* Fondo blanco para el datepicker */
  border-radius: $borderRadius; /* Bordes redondeados en el datepicker */
  box-shadow: 0 8px 30px rgba($primary, 0.25); /* Sombra más profunda */
}

/* Estilo para el calendario dentro del datepicker */
.mat-datepicker-calendar {
  background: $accent; /* Color de fondo moderno */
}

/*  Coworking */
.coworking-card {
  // Estilo general de la tarjeta de coworking
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $blanco;
  border-radius: $borderRadius;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba($primary, 0.1);
  min-height: 200px;
  width: 100%;
  padding: 0 15px 0 4px;

  .image-container {
    // Contenedor de la imagen
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;

    .coworking-image {
      // Estilo de la imagen de coworking
      width: 160px;
      height: 160px;
      object-fit: cover;
      cursor: pointer;
      border-radius: $borderRadius;
    }
  }
    .info {
    // Contenedor de la información
    width: 70%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .coworking-name {
      // Estilo del nombre del coworking
      font-size: $fontSize24;
      font-weight: bold;
      color: $primary;
      cursor: pointer;
      margin-bottom: 8px;
      margin-top: 0;
      display: inline-block; // Necesario para que el efecto funcione correctamente

    }

    .form-container {
      padding: $padding;
      background: $blanco;
    }

    .form-section {
      border-radius: $borderRadius;
      background-color: $blanco;
      padding: $padding;
      box-shadow: 0px 8px 30px rgba($primary, 0.1);
      transition: all 0.3s ease;

      :hover{
        transform: none!important;
      }

    }

    .form-row {
      margin-bottom: 24px;
    }

    o-text-input, o-integer-input, o-real-input, o-date-input, o-image {
      position: relative;
      display: inline-block;
      width: 100%;
    }

    o-text-input[icon], o-integer-input[icon], o-real-input[icon], o-date-input[icon], o-image[icon] {
      padding-left: 40px;
      font-size: $fontSize16;
      background-color: $blanco;
      border: 1px solid $accent;
      border-radius: $borderRadius;
      transition: all 0.3s ease;
    }
    o-text-input[icon]:hover,
    o-integer-input[icon]:hover,
    o-real-input[icon]:hover,
    o-date-input[icon]:hover,
    o-image[icon]:hover,
    o-textarea-input [icon]:hover{
      border-color: $primary;
    }

    o-text-input[icon]::before,
    o-integer-input[icon]::before,
    o-real-input[icon]::before,
    o-date-input[icon]::before,
    o-image[icon]::before {
      content: attr(icon);
      font-family: 'Material Icons';
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      color: $accent;
      font-size: $fontSize20;
    }


    o-text-input input::placeholder,
    o-integer-input input::placeholder,
    o-real-input input::placeholder,
    o-date-input input::placeholder,
    o-image input::placeholder {
      color: $accent;
      opacity: 0.8;
    }

    /* Botones e interacción */
    .form-section o-text-input:hover,
    .form-section o-integer-input:hover,
    .form-section o-real-input:hover,
    .form-section o-date-input:hover,
    .form-section o-image:hover {
      background-color: $blanco;
    }

    /* Estilos generales para la fila del formulario */
    .form-row {
      margin: 24px 0; /* Espaciado vertical */
    }
    .form-container {
      padding: $padding;
      background: $blanco;
    }

    .form-section {
      border-radius: $borderRadius;
      background-color: $blanco;
      padding: $padding;
      box-shadow: 0px 8px 30px rgba($primary, 0.1);
      transition: all 0.3s ease;
    }

    o-text-input, o-integer-input, o-real-input, o-date-input, o-hour-input{
      position: relative;
      display: inline-block;
      width: 100%;
    }

    o-text-input[icon], o-integer-input[icon], o-real-input[icon], o-date-input[icon], o-hour-input[icon] {
      padding-left: 40px;
      font-size: $fontSize16;
      background-color: $blanco;
      border: 1px solid $accent;
      border-radius: $borderRadius;
      transition: all 0.3s ease;
    }

    o-text-input[icon]:hover, o-integer-input[icon]:hover, o-real-input[icon]:hover, o-date-input[icon]:hover, o-hour-input[icon]:hover {
      border-color: $primary;
    }

    o-text-input[icon]::before, o-integer-input[icon]::before, o-real-input[icon]::before, o-date-input[icon]::before, o-hour-input[icon]::before {
      content: attr(icon);
      font-family: 'Material Icons';
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      color: $accent;
      font-size: $fontSize20;
    }

    o-text-input input::placeholder, o-integer-input input::placeholder, o-real-input input::placeholder, o-date-input input::placeholder, o-hour-input input:focus {
      color: $accent;
      opacity: 0.8;
    }

    /* Botones e interacción */
    .form-section o-text-input:hover, .form-section o-integer-input:hover, .form-section o-real-input:hover, .form-section o-date-input:hover, .form-section o-hour-input:hover {
      background-color: $blanco;
    }

    /* Estilos generales para la fila del formulario */
    .form-row {
      margin: 24px 0; /* Espaciado vertical */
    }

    /* Estilo para los campos de formulario */
    .mat-form-field {
    width: 100%; /* Asegura que los campos ocupen el 100% del contenedor */
    border-radius: $borderRadius; /* Bordes redondeados */
    background: $blanco; /* Fondo blanco */
    box-shadow: 0 4px 20px rgba($primary, 0.15); /* Sombra sutil */
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Transiciones suaves */
    }


    /* Estilo de las etiquetas */
    .mat-label {
    font-weight: 600; /* Etiquetas en negrita */
    color: $accent; /* Color gris oscuro */
    transition: color 0.3s ease; /* Transición suave para el color */
    }

    /* Color de los iconos */
    .mat-icon {
    color: $primary /* Color azul moderno para iconos */
    }

    /* Estilo para el toggle del datepicker */
    .mat-datepicker-toggle {
    color: $primary; /* Color para el toggle del datepicker */
    }

    /* Estilo de los inputs */
    input.mat-input-element {
    border: 1px solid $blanco; /* Borde de los inputs */
    border-radius: $borderRadius; /* Bordes redondeados en los inputs */
    padding: $paddingInterno; /* Espaciado interno */
    transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Transiciones suaves */
    }

    /* Efecto al enfocar el input */
    input.mat-input-element:focus {
    border-color: $primary; /* Color del borde al enfocar el input */
    box-shadow: 0 0 5px rgba($primary, 0.5); /* Sombra al enfocar */
    }

    /* Estilo para inputs deshabilitados */
    input.mat-input-element:disabled {
    background-color: $accent; /* Color de fondo para inputs deshabilitados */
    opacity: 0.7; /* Reduce la opacidad */
    }

    /* Estilo para el calendario del datepicker */
    .mat-datepicker-content {
    background: $blanco; /* Fondo blanco para el datepicker */
    border-radius: $borderRadius; /* Bordes redondeados en el datepicker */
    box-shadow: 0 8px 30px rgba($primary, 0.25); /* Sombra más profunda */
    }

    /* Estilo para el calendario dentro del datepicker */
    .mat-datepicker-calendar {
    background: $accent; /* Color de fondo moderno */
    }

    /* Color de los botones */
    .mat-button {
    color: $primary; /* Color de los botones */
    }

    /* Efecto hover en botones */
    .mat-button:hover {
    background-color: rgba($primary, 0.1); /* Color de fondo en hover */
    }

    .form-container {
      padding: $padding;
      background: $accent;
    }

    .form-section {
      border-radius: $borderRadius;
      background-color: $blanco;
      padding: $padding;
      box-shadow: 0px 8px 30px rgba($primary, 0.1);
      transition: all 0.3s ease;
    }

    .form-row {
      margin-bottom: 24px;
    }

    o-text-input, o-integer-input, o-real-input, o-date-input, o-hour-input{
      position: relative;
      display: inline-block;
      width: 100%;
    }

    o-text-input[icon], o-integer-input[icon], o-real-input[icon], o-date-input[icon], o-hour-input[icon] {
      padding-left: 40px;
      font-size: $fontSize16;
      background-color: $blanco;
      border: 1px solid $accent;
      border-radius: $borderRadius;
      transition: all 0.3s ease;
    }

    o-text-input[icon]:hover, o-integer-input[icon]:hover, o-real-input[icon]:hover, o-date-input[icon]:hover, o-hour-input[icon]:hover {
      border-color: $primary;
    }

    o-text-input[icon]::before, o-integer-input[icon]::before, o-real-input[icon]::before, o-date-input[icon]::before, o-hour-input[icon]::before {
      content: attr(icon);
      font-family: 'Material Icons';
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      color: $accent;
      font-size: $fontSize20;
    }

    o-text-input input::placeholder, o-integer-input input::placeholder, o-real-input input::placeholder, o-date-input input::placeholder, o-hour-input input:focus {
      color: $accent;
      opacity: 0.8;
    }

    /* Botones e interacción */
    .form-section o-text-input:hover, .form-section o-integer-input:hover, .form-section o-real-input:hover, .form-section o-date-input:hover, .form-section o-hour-input:hover {
      background-color: $blanco;
    }

    /* Estilos generales para la fila del formulario */
    .form-row {
      margin: 24px 0; /* Espaciado vertical */
    }

    /* Estilo para los campos de formulario */
    .mat-form-field {
    width: 100%; /* Asegura que los campos ocupen el 100% del contenedor */
    border-radius: $borderRadius; /* Bordes redondeados */
    background: $blanco; /* Fondo blanco */
    box-shadow: 0 4px 20px rgba($primary, 0.15); /* Sombra sutil */
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Transiciones suaves */
    }


    /* Estilo de las etiquetas */
    .mat-label {
    font-weight: 600; /* Etiquetas en negrita */
    color: $primary; /* Color gris oscuro */
    transition: color 0.3s ease; /* Transición suave para el color */
    }

    /* Color de los iconos */
    .mat-icon {
    color: $primary; /* Color azul moderno para iconos */
    }

    /* Estilo para el toggle del datepicker */
    .mat-datepicker-toggle {
    color: $primary; /* Color para el toggle del datepicker */
    }

    /* Estilo de los inputs */
    input.mat-input-element {
    border: 1px solid $blanco; /* Borde de los inputs */
    border-radius: $borderRadius; /* Bordes redondeados en los inputs */
    padding: 12px 16px; /* Espaciado interno */
    transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Transiciones suaves */
    }

    /* Efecto al enfocar el input */
    input.mat-input-element:focus {
    border-color: $primary; /* Color del borde al enfocar el input */
    box-shadow: 0 0 5px rgba($primary, 0.5); /* Sombra al enfocar */
    }

    /* Estilo para inputs deshabilitados */
    input.mat-input-element:disabled {
    background-color: $accent; /* Color de fondo para inputs deshabilitados */
    opacity: 0.7; /* Reduce la opacidad */
    }

    /* Estilo para el calendario del datepicker */
    .mat-datepicker-content {
    background: $blanco; /* Fondo blanco para el datepicker */
    border-radius: $borderRadius; /* Bordes redondeados en el datepicker */
    box-shadow: 0 8px 30px rgba($primary, 0.25); /* Sombra más profunda */
    }

    /* Estilo para el calendario dentro del datepicker */
    .mat-datepicker-calendar {
    background: $accent; /* Color de fondo moderno */
    }

    /* Color de los botones */
    .mat-button {
    color: $primary; /* Color de los botones */
    }

    /* Efecto hover en botones */
    .mat-button:hover {
    background-color: rgba($primary, 0.1); /* Color de fondo en hover */
    }


    /* Efecto hover en botones */
    .mat-button:hover {
    background-color: rgba($primary, 0.1); /* Color de fondo en hover */
    }
    .stars {
      // Contenedor de las estrellas de calificación
      display: flex;
      align-items: center;
      margin-bottom: 8px;
      color: $primary;

      mat-icon {
        // Estilo de los iconos de estrellas
        font-size: $fontSize12;
        width: 16px;
        height: 16px;
      }

      .rating {
        // Estilo del texto de calificación
        margin-left: 8px;
        font-size: $fontSize14;
      }
    }
    .location{
      // Estilo de la ubicación
      color: $primary;
      margin: 0 0 8px 0;
      font-size: $fontSize18;
    }
    .capacity {
      // Estilo de la ubicación y capacidad
      color: $primary;
      margin: 0;
      font-size: $fontSize12;
      font-weight: $fontBlack;
      border-radius: $borderRadiusEqual;
      background-color: $accentClaro;
      padding: 2px;
      text-align: center;
    }
    .services {
      // Contenedor de los servicios
      display: flex;
      gap: 8px;
      margin-top: 8px;
      transition: transform 0.2s;
      //translate: 20px;

      .service-icon {
        // Estilo de los iconos de servicios
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $primary;
        color: $blanco;
        border-radius: $borderRadiusButton;
        font-size: $fontSize12;
      }
    }
  }
  .capacity-price-container {
    border-left: solid 5px $primary;
    padding: 0px 0 0 17px;
    min-width: 190px;
  }
  .price-container {
    // Contenedor del precio
    padding: $paddingInterno;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $verdeBoton;
    min-height: 100%;
    border-radius: $borderRadius;

    .price {
      // Estilo del precio
      font-size: $fontSize45;
      font-weight: bold;
      color: $blanco;
    }

    .price .decimal {
      font-size: 24px; /* Tamaño reducido para decimales */
      //vertical-align: super; /* Opcional: sube un poco los decimales */
    }
  }

  .capacity-container {
    // Contenedor de la capacidad
    width: 15%;
    padding: $paddingInterno;
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: $accent;
    min-height: 100%;

    .capacity {
      // Estilo de la capacidad
      font-size: $fontSize24;
      font-weight: bold;
      color: $primary;
    }
  }
}

/*  Filtros de página   */
o-search-input.o-search-input.ng-star-inserted {
  position: absolute;
  left: 70px;
}

button.o-grid-button.no-text.mdc-icon-button.mat-mdc-icon-button.mat-unthemed.mat-mdc-button-base.ng-star-inserted {
  background-color: transparent;
  border: none;
  }

mat-paginator.mat-mdc-paginator.o-mat-paginator.ng-star-inserted {
    position: absolute;
    right: 25px;
    background-color: transparent;
}

// Animación de onda
@keyframes wave {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(2px);
  }
  75% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0);
  }
}

// Media para 1400px
@media(max-width: 1400px){
  mat-paginator.mat-mdc-paginator.o-mat-paginator.ng-star-inserted {
    position: absolute;
    background-color: transparent;
    left: 14px;
    top: 39px;
  }
  .o-data-toolbar.o-data-toolbar.o-grid-toolbar.ng-star-inserted {
    padding: 25px 25px 85px 25px;
 }
}

// Media Query para dispositivos móviles (max-width: 768px)
@media (max-width: 768px) {
  .coworking-card {
    flex-direction: column;
    align-items: stretch;
    min-height: auto;

    .image-container {
      width: 100%;
      height: 200px;
      padding: 0;
    }

    .info {
      width: 100%;
      padding: $paddingInterno;
    }

    .price-container {
      width: 100%;
      justify-content: center;
      padding: $paddingInterno;
      background-color: $accent;
    }

    .capacity-container {
      width: 100%;
      justify-content: center;
      padding: $paddingInterno;
      background-color: $accent;
    }
  }
}

@media(max-width:576px) {
  .full-page {

    .footer-container {
      div {
        margin: 0 auto;
        place-content: center !important;
      }
    }
  }
}
