@use "sass:map";
@import './custom_font.scss';

h1, h2, h3, h4, h5, h6{
  &:hover {
    animation: wave 1.5s ease-in-out ;
  }
}
/* Colores personalizados */
$primary: #8b5e3c;
$accent: #e6d5c3;
$blanco: #f8f6f4;
$verdeBoton: #5F6F65;

$primaryClaro: rgba($primary, 0.5);
$accentClaro: rgba($accent, 0.5);
$verdeBotonClaro: rgba($verdeBoton, 0.5);

$colorDegradadoFuerte: $primary;
$colorDegradadoSuave: $accent;


$borderRadius: 25px 5px 25px 5px;
$borderRadiusButton: 25px 5px 25px 25px;
$borderRadiusNav: 0px 0px 25px 0px;
$borderRadiusEqual: 25px;

$padding: 25px 25px 25px 25px;
$paddingInterno: 12px 16px;

// Gradientes de colores
$linear-gradientLR: linear-gradient(90deg, $colorDegradadoFuerte 0%, $colorDegradadoFuerte 5%, $colorDegradadoSuave 100%);
$linear-gradientRL: linear-gradient(270deg, $colorDegradadoFuerte 0%, $colorDegradadoFuerte 5%, $colorDegradadoSuave 100%);
$linear-gradientTB: linear-gradient(180deg, $colorDegradadoFuerte 0%, $colorDegradadoFuerte 5%, $colorDegradadoSuave 100%);
$linear-gradientBT: linear-gradient(0, $colorDegradadoFuerte 0%, $colorDegradadoFuerte 5%, $colorDegradadoSuave 100%);

/* Margin personalizado */
.m-top-24 {
  margin-top: 24px;
}

/*   Video home page  */
#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

/* Footer */
#footer{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  z-index: 2;

  div {
    height: 40px;
    margin-right: 50px;

    span {
      font-size: $fontSize12;
      padding-right: 4px;
    }
  }

}
/*  Barra de navegación lateral  */
.navMenu {
  background-image: $linear-gradientBT;
}

/* SnackBar */
.cdk-overlay-container .cdk-global-overlay-wrapper {
  align-items: flex-start !important;
  margin-top: 25px;
  margin-left: -7px;

  .mdc-snackbar__surface {
    background-color: $primary;
    padding: 15px 25px;
    border-radius: $borderRadius;
  }
  .mdc-snackbar__label {
    color: $accent;
    font-size: $fontSize14;
    padding:0;
  }
  span.mdc-button__label {
    color: $verdeBoton;
    font: $fontSize12;
  }
  .mat-mdc-snack-bar-actions.mdc-snackbar__actions.ng-star-inserted{
    background-color: $accent;
    border-radius: 15px;
  }
  button.mat-simple-snackbar-action.ng-star-inserted {
    border-radius: 15px;
    padding: 5px 15px;
    background-color: $accent;
    border: none;
  }
}

/* Pantalla login */
login {
  .full-page .login-outer-container .wrapp-login {
    width: 100vw;
    min-height: unset;
    z-index: 2;
    background-color: unset;

    .login-inner-container form{
      padding: $padding;
      justify-content: center;
      background-color: rgba($blanco, 0.4);
      border-radius: $borderRadius;
      padding: $padding;
      justify-content: center;
      min-height: unset !important;

      .login-title-container {
        margin-top: unset;
      }

     }
    .login-inner-container {
      background-color: unset;
    }
  }
}


/* Formato Full page */
.full-page{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;


  .title_text {
    font-size: $fontSize14;
    font-weight: 600;
  }

  .registerForm form.inner-form.form-no-toolbar {
    min-height: 100vh;
    justify-content: center;
    min-width: 368px;

    button {
      width: 100%;
      margin: 32px 0 0;
      height: 42px;
      font-size: $fontSize16;
      border: unset;
    }

    div.text-center{
      text-align: center;
    }
  }

}
.o-table .mat-mdc-table .mat-mdc-row:hover:not(.o-table-group-row) {
  background-color: $verdeBotonClaro !important;
}

/* Boton salir */
nav.ng-star-inserted:nth-last-child(1),
nav.ng-star-inserted:nth-last-child(2) {
  background-color: $accent;
  position: absolute;
  border-radius: 25px;
  border-left: 0px solid $accent !important;
  margin: 0px 5px 0 5px;
  transition: all 0.2s;
  top:unset;
  bottom: 25px;
  right: 0;
  width: 96%;

  :hover{
    border-left: 0px solid $accent !important;
  }
  .mdc-button__label > div{
    justify-content: center !important;
  }

  .o-app-sidenav-menu-item:not([disabled=true]) a:hover {
    border-radius: 25px !important;
    border-left: 0px solid $accent;
    transition: none;
  }
  .mat-mdc-button>.mat-icon {
    margin-left: 0;
    margin-right: 0px;
  }
}

// Formato barra lateral
.o-app-sidenav {
  .o-app-sidenav-sidenav {
    background-image: $linear-gradientBT;
    background-color: $primary;
  }

  .o-app-sidenav-container {

    .o-app-header{
      background-image: $linear-gradientRL;
    }

    .mat-drawer.o-app-sidenav-sidenav .mat-drawer-inner-container nav a{
      border-radius: $borderRadius;
    }

    .o-app-sidenav-menu-item:not([disabled=true]){
      border-radius: $borderRadiusNav;
      transition: all 0.2s;
      margin: unset;
      border-left: unset;

      a:hover{
        border-radius: $borderRadiusNav;
        background-color: $accent;
        color: $primary;
        border-left: 8px solid $primary;
      }

    }

  }

}

/* Contenedores fichas detalle */
.card-detalle {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;

  o-column.o-column,
  o-row.o-row {
    background: transparent;
    box-shadow: none;
    width: calc(100% - 140px);
    margin: 0;

    div.o-container-gap{
      padding: unset !important;
      >div{
        flex-wrap: wrap;
      }
    }

    div.info-container{
      width: 100%;
      max-width: 400px;
    }
    
  }

  o-button.o-button button {
    padding: 25px 35px;
    border-radius: $borderRadiusButton;
    border: none;
    -webkit-box-shadow: 0px 0px 10px 0px rgba($primary,0.45);
    -moz-box-shadow: 0px 0px 10px 0px rgba($primary,0.45);
    box-shadow: 0px 0px 10px 0px rgba($primary,0.45);
  }

  .image-container {
    margin-right: 25px;

    img {
      width: 400px;
      height: 480px;
      object-fit: cover;
      border-radius: $borderRadiusButton;
      display: block;
      -webkit-box-shadow: 0px 0px 10px 0px rgba($primary,0.45);
      -moz-box-shadow: 0px 0px 10px 0px rgba($primary,0.45);
      box-shadow: 0px 0px 10px 0px rgba($primary,0.45);
    }
  }
}

@media(max-width:850px){
  .button-back{
    display: none;
  }
  .card-detalle .image-container img {
    height: 220px;
  }
  .card-detalle {
    o-column.o-column, 
    o-row.o-row {
      width: 100%;
    }
  }
}
@media(max-width:576px) {
  .full-page {
    .footer-container {
      div {
        margin: 0 auto;
        place-content: center !important;
      }
    }
  }
}
