@use "sass:map";
@import './custom_font.scss';

h1, h2, h3, h4, h5, h6{
  &:hover {
    animation: wave 1.5s ease-in-out ;
  }
}
/* Colores personalizados */
$primary: #8b5e3c;
$accent: #e6d5c3;
$blanco: #f8f6f4;
$verdeBoton: #5F6F65;

$primaryClaro: rgba($primary, 0.5);
$accentClaro: rgba($accent, 0.5);
$verdeBotonClaro: rgba($verdeBoton, 0.5);

$colorDegradadoFuerte: $primary;
$colorDegradadoSuave: $accent;


$borderRadius: 25px 5px 25px 5px;
$borderRadiusButton: 25px 5px 25px 25px;
$borderRadiusNav: 0px 0px 25px 0px;
$borderRadiusEqual: 25px;

$padding: 25px 25px 25px 25px;
$paddingInterno: 12px 16px;

// Gradientes de colores
$linear-gradientLR: linear-gradient(90deg, $colorDegradadoFuerte 0%, $colorDegradadoFuerte 5%, $colorDegradadoSuave 100%);
$linear-gradientRL: linear-gradient(270deg, $colorDegradadoFuerte 0%, $colorDegradadoFuerte 5%, $colorDegradadoSuave 100%);
$linear-gradientTB: linear-gradient(180deg, $colorDegradadoFuerte 0%, $colorDegradadoFuerte 5%, $colorDegradadoSuave 100%);
$linear-gradientBT: linear-gradient(0, $colorDegradadoFuerte 0%, $colorDegradadoFuerte 5%, $colorDegradadoSuave 100%);

/* Margin personalizado */
.m-top-24 {
  margin-top: 24px;
}

mat-icon.mat-icon.notranslate.mat-mdc-tooltip-trigger.material-icons.mat-ligature-font.mat-icon-no-color {
  color: $verdeBoton;
}

/*   Video home page  */
#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

/* Footer */
#footer{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  z-index: 2;

  div {
    height: 40px;
    margin-right: 50px;

    span {
      font-size: $fontSize12;
      padding-right: 4px;
    }
  }

}
/*  Barra de navegación lateral  */
.navMenu {
  background-image: $linear-gradientBT;
}

/* SnackBar */
.cdk-overlay-container .cdk-global-overlay-wrapper {
  align-items: flex-start !important;
  margin-top: 25px;
  margin-left: -7px;

  .mdc-snackbar__surface {
    background-color: $primary;
    padding: 15px 25px;
    border-radius: $borderRadius;
  }
  .mdc-snackbar__label {
    color: $accent;
    font-size: $fontSize14;
    padding:0;
  }
  span.mdc-button__label {
    color: $verdeBoton;
    font: $fontSize12;
  }
  .mat-mdc-snack-bar-actions.mdc-snackbar__actions.ng-star-inserted{
    background-color: $accent;
    border-radius: 15px;
  }
  button.mat-simple-snackbar-action.ng-star-inserted {
    border-radius: 15px;
    padding: 5px 15px;
    background-color: $accent;
    border: none;
  }
}

o-search-input.o-search-input.ng-star-inserted {
  position: absolute;
  left: 75px;
}

.mat-mdc-paginator-container {
  position: absolute;
  top: 1px;
  right: 0;
  width: 450px !important;
  z-index: 1;
}


/* Pantalla login */
login {
  .full-page .login-outer-container .wrapp-login {
    width: 100vw;
    min-height: unset;
    z-index: 2;
    background-color: unset;

    .login-inner-container form {
      padding: $padding;
      justify-content: center;
      background-color: rgba($blanco, 0.4);
      border-radius: $borderRadius;
      padding: $padding;
      justify-content: center;
      min-height: unset !important;

      .login-title-container {
        margin-top: unset;
      }
    }
    .login-inner-container {
      background-color: unset;
    }
  }
}


/* Formato Full page */
.full-page {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;


 .registerForm form.inner-form.form-no-toolbar {
    min-height: 100vh;
    justify-content: center;
    min-width: 368px;

    div.text-center{
      text-align: center;
    }
  }

  .login-inner-container form,
  .o-form form .o-form-content-wrapper {
    background-color: rgba($blanco, 0.4);
    border-radius: $borderRadius;
    padding: $padding;
    justify-content: center;
    min-height: unset !important;
  }

  .register-outer-container {
      width: 100%;
      height: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      flex-wrap: wrap;
      overflow: auto;
      justify-content: center;
  }

  .register-bg-container {
      background-image: unset;
      width: unset;
      background-repeat: no-repeat;
      background-size: unset;
      background-position: unset;
      position: unset;
      z-index: 1;
  }

    .register-bg-container::before {
      content: "";
      display: block;
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba($primary, .1);
      opacity: .8;
    }
    .wrapp-register {
      width: 640px;
      min-height: 100%;
      z-index: 2;

      .register-inner-container{
          width: 100%;
      }

      form {
        padding: $paddingInterno;
        min-height: 600px;
        min-width: 368px;
      }
    }

}
.o-table .mat-mdc-table .mat-mdc-row:hover:not(.o-table-group-row) {
  background-color: $verdeBotonClaro !important;
}

/* Boton salir */
nav.ng-star-inserted:nth-last-child(1),
nav.ng-star-inserted:nth-last-child(2) {
  background-color: $accent;
  position: absolute;
  border-radius: 25px;
  border-left: 0px solid $accent !important;
  margin: 0px 5px 0 5px;
  transition: all 0.2s;
  top: unset;
  bottom: 25px;
  right: 0;
  width: 96%;

  :hover {
    border-left: 0px solid $accent !important;
  }
  .mdc-button__label > div {
    justify-content: center !important;
  }

  .o-app-sidenav-menu-item:not([disabled="true"]) a:hover {
    border-radius: 25px !important;
    border-left: 0px solid $accent;
    transition: none;
  }
  .mat-mdc-button > .mat-icon {
    margin-left: 0;
    margin-right: 0px;
  }
}

// Formato barra lateral
.o-app-sidenav {
  .o-app-sidenav-sidenav {
    background-image: $linear-gradientBT;
    background-color: $primary;
  }

  .o-app-sidenav-container {
    .o-app-header {
      background-image: $linear-gradientRL;
    }

    .mat-drawer.o-app-sidenav-sidenav .mat-drawer-inner-container nav a {
      border-radius: $borderRadius;
    }

    .o-app-sidenav-menu-item:not([disabled="true"]) {
      border-radius: $borderRadiusNav;
      transition: all 0.2s;
      margin: unset;
      border-left: unset;

      a:hover {
        border-radius: $borderRadiusNav;
        background-color: $accent;
        color: $primary;
        border-left: 8px solid $primary;
      }

    }
    .mat-drawer.o-app-sidenav-sidenav .mat-drawer-inner-container {
      padding-bottom: 0px !important;
    }

  }

}
.o-data-toolbar.o-data-toolbar.o-grid-toolbar.ng-star-inserted {
  background-color: $blanco;
  padding: $padding;
  border-radius: $borderRadiusButton;
  margin-bottom: 25px;
}

div#innerCol > div {
  column-gap: 15px;
}


/* Contenedores fichas detalle */
.card-detalle {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  flex-direction: column;

  o-column.o-column,
  o-row.o-row {
    background: transparent;
    box-shadow: none;
    margin: 0;

    div.o-container-gap {
      padding: unset !important;
      > div {
        flex-wrap: wrap;
      }
    }

    div.info-container {
      width: 100%;
      max-width: 400px;


    }

    div.detail-container {
      flex-direction: column;
    }
  }
  p {
    max-width: 449px !important;
    overflow: hidden;
  }


  o-form {
    .inner-form .o-form-content-wrapper {
      flex-flow: wrap;
    }
  }

  o-button.o-button button {
    padding: 25px 35px;
    border-radius: $borderRadiusButton;
    border: none;
    -webkit-box-shadow: 0px 0px 10px 0px rgba($primary, 0.45);
    -moz-box-shadow: 0px 0px 10px 0px rgba($primary, 0.45);
    box-shadow: 0px 0px 10px 0px rgba($primary, 0.45);
  }

  .image-container {
    margin-right: 25px;
    .hidden {
      display: none;
      /* Oculta el div que envuelve o-image */
    }
    img {
      width: 800px;
      height: 480px;
      object-fit: cover;
      border-radius: $borderRadiusButton;
      display: block;
      -webkit-box-shadow: 0px 0px 10px 0px rgba($primary, 0.45);
      -moz-box-shadow: 0px 0px 10px 0px rgba($primary, 0.45);
      box-shadow: 0px 0px 10px 0px rgba($primary, 0.45);
    }
  }
  .price {
    // Estilo del precio
    font-size: $fontSize45;
    font-weight: bold;
    background-color: $verdeBoton;
    color: $blanco;
    margin: 10px;
    padding: 10px;
    border-radius: $borderRadius;
    text-align: center;
  }

  .price .decimal {
    font-size: 24px; /* Tamaño reducido para decimales */
    //vertical-align: super; /* Opcional: sube un poco los decimales */
  }
}
.reservation-button {
  display: block;
  margin: 20px auto;
  text-align: center;
}

o-form-layout-tabgroup .card-detalle div.button-back {
  display: none;
  visibility: hidden;
}

//Codigo Conjunto//
o-column.o-column,
o-row.o-row {
  background: transparent;
}
o-column {
  background: transparent;
}
.o-container {
  background: transparent;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: $accentClaro !important;
}
.form-row {
  margin-top: 24px;
  align-items: flex-end;
}
.form-container {
  width: 100vw;
}

.form-new-event {
  background-color: transparent;
  //max-width: 550px;

  o-column.o-column:not(.service-column),
  o-row.o-row:not(.service-column) {
    background: transparent;
    border: solid 1px $verdeBoton;
    border-radius: $borderRadius;
    padding: 5px;

    o-text-input,
    o-integer-input,
    o-textarea-input,
    o-real-input,
    o-date-input,
    o-combo,
    o-grid,
    o-image,
    o-hour-input {
      max-width: 100%;
      width: 100%;
      min-width: 100%;
    }
    .o-image .o-image-content .o-image-display-container.o-image-drag-and-drop {
      padding: 10px;
    }

    .o-container-scroll.o-scroll.o-container-gap {
      align-items: flex-start;
      > div {
        gap: 25px;
        flex-direction: row !important;
        flex-wrap: wrap;
        justify-content: space-between !important;
      }
    }
    o-column.o-column,
    o-row.o-row {
      background: $blanco;
    }
  }
  article.ng-star-inserted {
    align-self: center !important;
    padding: 5px;
    color: $verdeBoton;
    fill:  $verdeBoton;
    :hover{
      cursor: pointer;
    }
    mat-icon{
      font-size: $fontSize35;
      width: $fontSize35;
      height: $fontSize35;
    }
  }
  .buttons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }

}

.application-layout-content-wrapper.header-layout {
  background-image: url("/assets/images/fondo_workwander.jpg");
  background-position-y: bottom;
  background-position-x: right;
  background-repeat: no-repeat;
  background-size: cover;
}
/*  Coworking */
.coworking-card {
  // Estilo general de la tarjeta de coworking
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba($accent, 0.5);
  border-radius: $borderRadius;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba($primary, 0.4);
  min-height: 200px;
  width: 100%;
  padding: 0 15px 0 4px;

  .image-container {
    // Contenedor de la imagen
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;

    .coworking-image {
      // Estilo de la imagen de coworking
      width: 160px;
      height: 160px;
      object-fit: cover;
      cursor: pointer;
      border-radius: $borderRadius;
    }
  }
}
.info {
  // Contenedor de la información
  width: 70%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .coworking-name {
    // Estilo del nombre del coworking
    font-size: $fontSize24;
    font-weight: bold;
    color: $primary;
    cursor: pointer;
    margin-bottom: 8px;
    margin-top: 0;
    display: inline-block; // Necesario para que el efecto funcione correctamente
  }

  .form-container {
    padding: $padding;
    background: $blanco;
  }

  .form-section {
    border-radius: $borderRadius;
    background-color: $blanco;
    padding: $padding;
    box-shadow: 0px 8px 30px rgba($primary, 0.1);
    transition: all 0.3s ease;

    :hover {
      transform: none !important;
    }
  }

  .form-row {
    margin-bottom: 24px;
  }

  .location {
    // Estilo de la ubicación
    color: $primary;
    margin: 0 0 8px 0;
    font-size: $fontSize18;
  }
  .capacity {
    // Estilo de la ubicación y capacidad
    color: $primary;
    margin: 0;
    font-size: $fontSize12;
    font-weight: $fontBlack;
    border-radius: $borderRadiusEqual;
    background-color: $accentClaro;
    padding: 2px;
    text-align: center;
  }
  .services {
    // Contenedor de los servicios
    display: flex;
    gap: 8px;
    margin-top: 8px;
    transition: transform 0.2s;
    //translate: 20px;

    .service-icon {
      // Estilo de los iconos de servicios
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $primary;
      color: $blanco;
      border-radius: $borderRadiusButton;
      font-size: $fontSize12;
    }
  }
}

.capacity-price-container {
  border-left: solid 5px $primary;
  padding: 0px 0 0 17px;
  min-width: 190px;

  .price-container {
    // Contenedor del precio
    padding: $paddingInterno;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $verdeBoton;
    min-height: 100%;
    border-radius: $borderRadius;

    .price {
      // Estilo del precio
      //font-size: $fontSize45;
      font-size: $fontSize35;
      font-weight: bold;
      color: $blanco;

      .decimal {
        font-size: $fontSize18; /* Tamaño reducido para decimales */
        //vertical-align: super; /* Opcional: sube un poco los decimales */
      }
    }
  }
}

.capacity-container {
  // Contenedor de la capacidad
  width: 15%;
  padding: $paddingInterno;
  display: flex;
  align-items: center;
  justify-content: end;
  background-color: $accent;
  min-height: 100%;

  .capacity {
    // Estilo de la capacidad
    font-size: $fontSize24;
    font-weight: bold;
    color: $primary;
  }
}
o-data-toolbar {
  align-content: flex-start !important;
  max-width: 440px;
}

.ontimize-table.o-table,
.mat-mdc-tab-group.o-tab-ontimize > .mat-mdc-tab-body-wrapper {
  background: transparent !important;
}

@media (min-width: 768px) {
  .form-new-event {
    o-column.o-column:not(.service-column),
    o-row.o-row:not(.service-column) {
      o-date-input,
      o-integer-input,
      o-real-input,
      o-hour-input {
        max-width: 47%;
        width: 47%;
        min-width: 47%;
      }
    }
  }
}
@media (max-width: 850px) {
  .button-back {
    display: none;
  }
  .card-detalle .image-container img {
    height: 220px;
  }
  .card-detalle {
    o-column.o-column,
    o-row.o-row {
      width: 100%;
    }
  }
}
@media (max-width: 767.9px) {
  o-text-input,
  o-integer-input,
  o-real-input,
  o-date-input,
  o-hour-input,
  o-image {
    max-width: 100% !important;
    width: 100% !important;
    min-width: 100% !important;
  }
}
@media (max-width: 576px) {
  .full-page {
    .footer-container {
      div {
        margin: 0 auto;
        place-content: center !important;
      }
    }
  }
}
// Media para 1050px
@media (max-width: 1150px) {
  mat-paginator.mat-mdc-paginator.o-mat-paginator.ng-star-inserted {
    position: absolute;
    background-color: transparent;
    top: 50px;
  }
  .mat-mdc-paginator-container {
    position: absolute;
    top: 41px;
    right: unset;
    width: 450px !important;
    z-index: 1;
    left: -80px;
}
  .o-data-toolbar.o-data-toolbar.o-grid-toolbar.ng-star-inserted {
    padding: 25px 25px 85px 25px;
  }
  o-data-toolbar.o-data-toolbar.o-table-toolbar.ng-star-inserted {
    margin-bottom:60px !important;
  }
}
