<!-- Loader -->
<div id="borrar">
  <div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
  </div>
</div>
<div class="grid-container">
  <!-- Grid que muestra los datos de los events -->
  <o-grid
    #eventsGrid
    attr="eventsGrid"
    service="events"
    entity="homeEvents"
    keys="id_event"
    columns="id_event;name;image_event;date_event;hour_event;price;bookings;reserved"
    quick-filter-columns="name"
    pagination-controls="true"
    page-size-options="12;16;20"
    query-rows="12"
    grid-item-height="3.5:1"
    [cols]="gridCols"
    gutter-size="40px"
    pageable="yes"
  >
    <o-grid-item
      *ngFor="let data of eventsGrid.dataArray"
      class="responsive-grid"
    >
      <div class="event-card">
        <div class="image-container">
          <!-- Mostramos la imagen del evento en las cards -->
          <img
            class="event-image"
            [src]="getImageSrc(data.image_event)"
            alt="{{ data.name }}"
          />
        </div>

        <div class="info">
          <h2 class="event-name">{{ data.name }}</h2>
          <p class="event-date">{{ formatDate(data.date_event) }}</p>
          <p class="event-hour">{{ formatTime(data.hour_event) }}</p>
          <div
            class="last-tickets-tag-container"
            *ngIf="
              getAvailability(data.reserved, data.bookings) >= 0.9 &&
              getAvailability(data.reserved, data.bookings) < 1
            "
          >
            <span class="last-tickets-tag">{{
              "LAST_CHANCES" | oTranslate
            }}</span>
          </div>
        </div>
        <div class="price-container">
          <div
            class="event-free"
            *ngIf="!data.price || data.price == 0; else priceValue"
          >
            {{ "FREE_EVENT" | oTranslate }}
          </div>
          <ng-template #priceValue>
            <div class="price" [innerHTML]="formatPrice(data.price)"></div>
          </ng-template>
        </div>
      </div>
    </o-grid-item>
  </o-grid>
</div>
