<div class="main_panel">
  <o-form
    #bookingValoration
    show-header="no"
    id="valoration_div"
    attr="coworkingValoration"
  >
    <div fxLayout="column" fxLayoutAlign="space-between center">
      <div>
        <h1>{{ data.name }}</h1>
      </div>

      <p-rating [(ngModel)]="data.rate" [cancel]="false" #ratio />
    </div>
    <div fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="center center">
        <o-textarea-input
          #comment
          id="coment"
          attr="pck_description"
          rows="6"
          max-length="500"
          width="70%"
        ></o-textarea-input>
      </div>
      <div fxLayout="row">
        <button
          id="button_valoration"
          mat-raised-button
          color="primary"
          type="button"
          (click)="createValoration()"
        >
          Valorar
        </button>
      </div>
    </div>
  </o-form>
</div>
