<ng-template #templateref let-cellvalue="cellvalue" let-rowvalue="rowvalue">

    <img
      src="assets/images/close.svg"
      *ngIf="getCellData(cellvalue, rowvalue) == 'Cancelada'"
      title="{{ 'CANCELLED' | oTranslate }}" />
    <img
      src="assets/images/check.svg "
      *ngIf="getCellData(cellvalue, rowvalue) == 'Finalizada'"
      title="{{ 'FINISHED' | oTranslate }}" />
    <img
      src="assets/images/update.svg "
      *ngIf="getCellData(cellvalue, rowvalue) == 'Pendiente'"
      title="{{ 'PENDING' | oTranslate }}" />
    <img
      src="assets/images/play.svg "
      *ngIf="getCellData(cellvalue, rowvalue) == 'En curso'"
      title="{{ 'IN_PROGRESS' | oTranslate }}"
  />
</ng-template>
