<ng-template #templateref let-cellvalue="cellvalue" let-rowvalue="rowvalue">
  <span fxLayout="row" fxLayoutAlign="space-around center">
    {{ getCellData(cellvalue, rowvalue) }}
    <img
      src="assets/images/close.svg"
      *ngIf="getCellData(cellvalue, rowvalue) == 'Cancelada'" />
    <img
      src="assets/images/check.svg "
      *ngIf="getCellData(cellvalue, rowvalue) == 'Finalizada'" />
    <img
      src="assets/images/update.svg "
      *ngIf="getCellData(cellvalue, rowvalue) == 'Pendiente'" />
    <img
      src="assets/images/play.svg "
      *ngIf="getCellData(cellvalue, rowvalue) == 'En curso'"
  /></span>
</ng-template>
