<!--

This HTML file defines the structure of the "New Event" form component in an Angular application. The form is created using custom form elements and Angular Flex Layout for responsive design. Key features include:

- **Form Configuration**: The form is configured with attributes such as `attr`, `service`, `entity`, `keys`, and `header-actions`. It also includes event handling for the `onInsert` event.
- **General Information Section**: Contains input fields for event details:
    - **Name**: Text input with validation to disallow special characters.
    - **Bookings**: Integer input for the number of bookings, with a minimum value of 0.
    - **Date**: Date input with a minimum value set to the current date.
    - **Hour**: Hour input for the event time.
    - **Locality**: Text input for the locality with validation to disallow special characters.
    - **Address**: Text input for the address with validation to disallow special characters.
    - **Description**: Text input for the event description with a maximum length of 250 characters.
- **Layout**: Utilizes Angular Flex Layout directives (`fxLayout`, `fxFlex`, `fxLayoutGap`, `fxLayoutAlign`) to arrange the form elements responsively.
-->
<o-form #form attr="eventNew" service="events" entity="event" keys="id_event" header-actions="new"
    show-header-navigation="no" (onInsert)="createEvent(); $event.stopPropagation()" class="form-section"
    ignore-default-navigation="yes">
    <div fxLayout="row" class="form-section" class="form-container" fxLayoutGap="24px" fxLayoutAlign="center start">
        <!-- Información General -->
        <o-column fxFlex="70" title="EVENT_INFORMATION" class="form-section">
            <div fxLayout="row" fxLayoutGap="24px" class="form-row">
                <!-- Nombre -->
                <o-text-input #nameInput fxFlex="50" attr="name" icon="business" required="yes"></o-text-input>
                <!-- Plazas -->
                <o-integer-input fxFlex="50" attr="bookings" min="0" step="1" icon="event_seat" thousand-separator="."
                    required="yes"></o-integer-input>
            </div>
            <div fxLayout="row" fxLayoutGap="24px" class="form-row">
                <!-- Fecha -->
                <o-date-input #dateInput fxFlex="50" attr="date_event" [min]="currentDate()" value-type="date"
                    icon="event" required="yes"></o-date-input>
                <!-- Hora -->
                <o-hour-input fxFlex="50" attr="hour_event" icon="schedule" required="yes"></o-hour-input>
            </div>
            <div fxLayout="row" fxLayoutGap="24px" class="form-row">
                <!-- Localidad -->
                <o-text-input fxFlex="50" attr="locality" icon="location_city" required="yes"></o-text-input>
                <!-- Dirección -->
                <o-text-input fxFlex="50" attr="address" icon="place" required="yes"></o-text-input>
            </div>
            <div fxLayout="row" fxLayoutGap="24px" class="form-row">
                <!-- Descripción -->
                <o-textarea-input fxFlex="100" attr="description" icon="description" maxlength="250"
                    required="yes"></o-textarea-input>
            </div>
        </o-column>
    </div>
</o-form>
