<div style="padding: 5vw">
  <h1>Política de privacidad</h1>
  En Work Wander nos preocupamos por la privacidad y la transparencia. A
  continuación, le indicamos en detalle los tratamientos de datos personales que
  realizamos, así como toda la información relativa a los mismos.
  <h2>Tratamiento de los datos de clientes</h2>
  <table width="584">
    <tbody>
      <tr>
        <td colspan="2" width="584">
          <strong>Información básica sobre Protección de datos</strong>
        </td>
      </tr>
      <tr>
        <td width="180"><strong>Responsable:</strong></td>
        <td width="404">Work Wander - cd2024bfs5g1</td>
      </tr>
      <tr>
        <td width="180"><strong>Finalidad:</strong></td>
        <td width="404">
          Prestar los servicios solicitados y enviar comunicaciones
          promocionales.
        </td>
      </tr>
      <tr>
        <td width="180"><strong>Legitimación:</strong></td>
        <td width="404">
          Ejecución de un contrato. Interés legítimo del Responsable.
        </td>
      </tr>
      <tr>
        <td width="180"><strong>Destinatarios:</strong></td>
        <td width="404">
          Están previstas cesiones de datos a: Abogado o despacho de abogados
          contratado por la empresa; Administración Tributaria; Asesoría
          Contable y Fiscal; Consultora de Protección de datos; Entidades
          financieras.
        </td>
      </tr>
      <tr>
        <td width="180"><strong>Derechos:</strong></td>
        <td width="404">
          Tiene derecho a acceder, rectificar y suprimir los datos, así como
          otros derechos, indicados en la información adicional, que puede
          ejercer dirigiéndose a A Coruña, España.
        </td>
      </tr>
      <tr>
        <td width="180"><strong>Procedencia:</strong></td>
        <td width="404">El propio interesado</td>
      </tr>
    </tbody>
  </table>
  <h2>Información completa sobre Protección de Datos</h2>
  <ol>
    <li>¿Quién es el responsable del tratamiento de sus datos?</li>
  </ol>
  Work Wander, cd2024bfs5g1, A Coruña, España 617

  <ol start="2">
    <li>¿Con qué finalidad tratamos sus datos personales?</li>
  </ol>
  En Work Wander tratamos la información que nos facilitan las personas
  interesadas con el fin de realizar la gestión administrativa, contable y
  fiscal de los servicios solicitados, así como enviar comunicaciones
  promocionales sobre nuestros productos y servicios. En el caso de que no
  facilite sus datos personales, no podremos cumplir con las finalidades
  descritas. No se van a tomar decisiones automatizadas en base a los datos
  proporcionados.
  <ol start="3">
    <li>¿Por cuánto tiempo conservaremos sus datos?</li>
  </ol>
  Los datos se conservarán mientras el interesado no solicite su supresión, y en
  su caso, durante los años necesarios para cumplir con las obligaciones
  legales.
  <ol start="4">
    <li>¿Cuál es la legitimación para el tratamiento de sus datos?</li>
  </ol>
  Le indicamos la base legal para el tratamiento de sus datos:
  <ul>
    <li>
      Ejecución de un contrato: Gestión fiscal, contable y administrativa de
      clientes. (RGPD art. 6.1.b).
    </li>
    <li>
      Interés legítimo del Responsable: Envío de comunicaciones promocionales
      incluso por vía electrónica. (RGPD Considerando 47, LSSICE art. 21.2).
    </li>
  </ul>
  <ol start="5">
    <li>¿A qué destinatarios se comunicarán sus datos?</li>
  </ol>
  Los datos se comunicarán a los siguientes destinatarios:
  <ul>
    <li>
      Abogado o despacho de abogados contratado por la empresa, con la finalidad
      de gestión de servicios jurídicos.
    </li>
    <li>
      Administración Tributaria, con la finalidad de cumplir con las
      obligaciones legales (requisito legal).
    </li>
    <li>
      Asesoría Contable y Fiscal, con la finalidad de confección de la
      contabilidad e impuestos legalmente establecidos (requisito legal).
    </li>
    <li>
      Consultora de Protección de datos, con la finalidad de gestión de la
      protección de datos.
    </li>
    <li>
      Entidades financieras, con la finalidad de girar los recibos
      correspondientes (requisito contractual).
    </li>
  </ul>
  <ol start="6">
    <li>Transferencias de datos a terceros países</li>
  </ol>
  No están previstas transferencias de datos a terceros países.
  <ol start="7">
    <li>¿Cuáles son sus derechos cuando nos facilita sus datos?</li>
  </ol>
  Cualquier persona tiene derecho a obtener confirmación sobre si en Work Wander
  estamos tratando, o no, datos personales que les conciernan. Las personas
  interesadas tienen derecho a acceder a sus datos personales, así como a
  solicitar la rectificación de los datos inexactos o, en su caso, solicitar su
  supresión cuando, entre otros motivos, los datos ya no sean necesarios para
  los fines que fueron recogidos. Igualmente tiene derecho a la portabilidad de
  sus datos. En determinadas circunstancias, los interesados podrán solicitar la
  limitación del tratamiento de sus datos, en cuyo caso únicamente los
  conservaremos para el ejercicio o la defensa de reclamaciones. En determinadas
  circunstancias y por motivos relacionados con su situación particular, los
  interesados podrán oponerse al tratamiento de sus datos. En este caso, Work
  Wander dejará de tratar los datos, salvo por motivos legítimos imperiosos, o
  el ejercicio o la defensa de posibles reclamaciones. Podrá ejercitar
  materialmente sus derechos de la siguiente forma: dirigiéndose a A Coruña,
  España. Cuando se realice el envío de comunicaciones comerciales utilizando
  como base jurídica el interés legítimo del responsable, el interesado podrá
  oponerse al tratamiento de sus datos con ese fin. Si ha otorgado su
  consentimiento para alguna finalidad concreta, tiene derecho a retirar el
  consentimiento otorgado en cualquier momento, sin que ello afecte a la licitud
  del tratamiento basado en el consentimiento previo a su retirada. En caso de
  que sienta vulnerados sus derechos en lo concerniente a la protección de sus
  datos personales, especialmente cuando no haya obtenido satisfacción en el
  ejercicio de sus derechos, puede presentar una reclamación ante la Autoridad
  de Control en materia de Protección de Datos competente a través de su sitio
  web: www.aepd.es.
  <ol start="8">
    <li>¿Cómo hemos obtenido sus datos?</li>
  </ol>
  Los datos personales que tratamos en Work Wander proceden de: El propio
  interesado. Las categorías de datos que se tratan son:
  <ul>
    <li>Datos identificativos.</li>
    <li>Direcciones postales y electrónicas.</li>
    <li>Información comercial.</li>
  </ul>
  <h2>Tratamiento de los datos de potenciales clientes y contactos</h2>
  <table width="584">
    <tbody>
      <tr>
        <td colspan="2" width="584">
          <strong>Información básica sobre Protección de datos</strong>
        </td>
      </tr>
      <tr>
        <td width="180"><strong>Responsable:</strong></td>
        <td width="404">Work Wander</td>
      </tr>
      <tr>
        <td width="180"><strong>Finalidad:</strong></td>
        <td width="404">
          Atender su solicitud y enviarle comunicaciones promocionales
        </td>
      </tr>
      <tr>
        <td width="180"><strong>Legitimación:</strong></td>
        <td width="404">
          Ejecución de un contrato. Consentimiento del interesado. Interés
          legítimo del Responsable.
        </td>
      </tr>
      <tr>
        <td width="180"><strong>Destinatarios:</strong></td>
        <td width="404">
          Están previstas cesiones de datos a: Consultora de protección de
          datos.
        </td>
      </tr>
      <tr>
        <td width="180"><strong>Derechos:</strong></td>
        <td width="404">
          Tiene derecho a acceder, rectificar y suprimir los datos, así como
          otros derechos, indicados en la información adicional, que puede
          ejercer dirigiéndose A Coruña, España.
        </td>
      </tr>
      <tr>
        <td width="180"><strong>Procedencia:</strong></td>
        <td width="404">El propio interesado</td>
      </tr>
    </tbody>
  </table>
  <div id="cookies" class="cky-audit-table-element"></div>
</div>
