/* .special-day {
    background-color: #c61909;
}
.regular-day {
    background-color: #16ba00;
} */
/* ._cell_inner{
    background-color: #1c09c6;
}
._cell{
    background-color: #04011e;
} */
.verde_cell .verde_cell_inner{
    background-color: #d1fe9e;
}