<div class="grid-container">
  <h1>{{ "MY_CALENDAR" | oTranslate }}</h1>
</div>
<main class="container">
  <daypilot-navigator
    class="navigator"
    [config]="configNavigator"
    [events]="events"
    [(date)]="date"
    (dateChange)="changeDate($event)"
    #navigator
  ></daypilot-navigator>
  <div class="content">
    <div class="buttons-c">
      <button
        class="button-c"
        (click)="viewDay()"
        [class]="this.configNavigator.selectMode == 'Day' ? 'selected' : ''"
      >
        {{ "DAY" | oTranslate }}
      </button>
      <button
        class="button-c"
        (click)="viewWeek()"
        [class]="this.configNavigator.selectMode == 'Week' ? 'selected' : ''"
      >
        {{ "WEEK" | oTranslate }}
      </button>
      <button
        class="button-c"
        (click)="viewMonth()"
        [class]="this.configNavigator.selectMode == 'Month' ? 'selected' : ''"
      >
        {{ "MONTH" | oTranslate }}
      </button>
    </div>
    <daypilot-calendar
      [config]="configDay"
      [events]="events"
      #day
    ></daypilot-calendar>
    <daypilot-calendar
      [config]="configWeek"
      [events]="events"
      #week
    ></daypilot-calendar>
    <daypilot-month
      [config]="configMonth"
      [events]="events"
      #month
    ></daypilot-month>
  </div>
</main>
<hr />
<div class="leyenda container">
  <div fxLayout="column" fxFlex fxLayoutGap="8px">
    <div fxLayout="row" fxFlex>
      <h3>{{ "LEGEND" | oTranslate }}</h3>
    </div>
    <div fxLayout="row" fxFlex>
      <div fxLayout="row" fxFlex>
        <span class="tipo1-color"></span>
        {{ "BOOKING_FINISHED" | oTranslate }}
      </div>
      <div fxLayout="row" fxFlex>
        <span class="tipo2-color"></span> {{ "BOOKING_PENDING" | oTranslate }}
      </div>
      <div fxLayout="row" fxFlex>
        <span class="tipo3-color"></span>
        {{ "BOOKING_INPROGRESS" | oTranslate }}
      </div>
    </div>
    <div fxLayout="row" fxFlex>
      <span class="tipo4-color"></span> {{ "EVENTS" | oTranslate }}
    </div>
  </div>
</div>
