@use "sass:map";
@import "src/assets/css/workwander.scss";

.qr-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.qr-dialog-content {
  padding: 24px;
  background-color: rgba($accent, 0.5);
}

.dialog-title {
  font-family: $typography;
  font-size: $fontSize25;
  color: $primary;
  margin-bottom: 24px;
  text-align: center;
  font-weight: $fontBold;
}

.info-message {
  font-family: $typography;
  margin-bottom: 32px;
  color: $verdeBoton;
  font-size: $fontSize18;
  text-align: center;
  font-weight: $fontSemiBold;
}

qrcode {
  margin-bottom: 32px;
  padding: 16px;
  background-color: $blanco;
  border-radius: $borderRadius;
  box-shadow: 0 4px 6px rgba($primary, 0.2);
}

.download-link {
  font-family: $typography;
  background-color: $blanco;
  color: $verdeBoton;
  border: 2px solid $verdeBoton;
  padding: 12px 24px;
  border-radius: $borderRadiusButton;
  font-weight: $fontSemiBold;
  transition: all 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  text-decoration: none;
  margin-top: 8px;

  &:hover {
    background-color: $primary;
    color: $blanco;
    box-shadow: 0px 0px 10px 0px rgba($primary, 0.45);
  }
}
