<div
  fxLayout="column"
  fxLayoutAlign="center center"
  style="padding: 24px"
  class="qr-dialog-content"
>
  <h2 class="dialog-title">{{ "ENTRY" | oTranslate }}</h2>
  <div class="info-message">
    {{ "QR_INFO_MESSAGE" | oTranslate }}
  </div>
  <qrcode
    [qrdata]="qrCodeData"
    [elementType]="'canvas'"
    [errorCorrectionLevel]="'M'"
    [width]="300"
    (qrCodeURL)="onChangeURL($event)"
  ></qrcode>

  <a
    *ngIf="qrCodeDownloadLink"
    [href]="qrCodeDownloadLink"
    [download]="getFileName() + '.png'"
    class="download-link"
  >
    {{ "QR_DOWNLOAD" | oTranslate }}
  </a>
</div>
