<o-form-layout-manager attr="myBookingsHome" title="{{'MYBOOKINGS' | oTranslate }}" separator=" " mode="tab"
    label-columns="bk_id">
    <o-table delete-button="no" insert-button="no" attr="myCoworkingsTable" service="bookings" entity="datesByBooking" keys="bk_id"
        columns="bk_id;bk_usr_id;bk_cw_id;cw_name;bk_state;dates"
        visible-columns="bk_id;bk_usr_id;bk_cw_id;cw_name;bk_state;dates"
        query-rows="15" auto-adjust="true">
        <o-table-column attr="bk_id" title="bk_id" width="30%"></o-table-column>
        <o-table-column attr="bk_usr_id" title="bk_usr_id" width="35%"></o-table-column>
        <o-table-column attr="cw_name" title="cw_name" width="15%"></o-table-column>
        <o-table-column attr="bk_state" title="bk_state" width="10%" content-align="end"></o-table-column>
        <o-table-column attr="dates" title="dates" width="10%"></o-table-column>
    </o-table>
</o-form-layout-manager>
