<h1 class="m-auto">Cookies</h1>
En cumplimiento con el deber de información recogido en el artículo 22. 2 de la
Ley 34/2002, de 11 de julio, de servicios de la sociedad de la información y de
comercio electrónico, la presente política de cookies tiene como finalidad
informar de manera clara y precisa acerca de las cookies utilizadas en la web de
Work wander y de la forma en la que cómo pueden gestionarse.
<h2>¿Qué son las cookies?</h2>
<div class="">
  Las cookies son archivos o programas informáticos – ficheros de tamaño
  pequeño, enviados a un navegador por medio de un servidor web que almacenan
  información en el equipo del usuario, al acceder o navegar por un sitio web, y
  que permiten que se acceda a ésta tras su instalación. Además pueden contener
  información sobre los hábitos de navegación de los usuarios o del equipo donde
  se instalan, o incluso utilizarse para reconocer al usuario y mejorar su
  experiencia.
  <h2>Tipos de Cookies</h2>
  Work Wander utiliza cookies:
</div>
<div class="">
  <h2>Consentimiento</h2>
  Al pulsar en el botón “Aceptar” del banner inicial de aviso, al fondo de la
  página, consientes el uso de las cookies no necesarias descritas en las
  condiciones expresadas. Asimismo, puedes personalizar dicho consentimiento
  mediante el botón “Configurar”, donde encontrarás la descripción y enumeración
  concreta de todas las cookies clasificadas por categorías. Si no realizas
  ninguna de las acciones anteriores, no se entenderá que consientas la
  instalación de dichas cookies no necesarias y, por tanto, no se deberían
  instalar. No obstante si se instalase alguna cookie fuera de nuestro
  conocimiento o control, te rogamos nos disculpes y lo comuniques a través de
  la sección contacto para corregirlo en menor plazo de tiempo posible.
</div>
<h2>Configuración y modificación</h2>
Puedes restringir, bloquear o eliminar las cookies instaladas en tu equipo
mediante la configuración de las opciones del navegador instalado en tu
ordenador:
<ul>
  <li>
    Facebook: <a
      class="text-info"
      href="https://www.facebook.com/policies/cookies/"
      >https://www.facebook.com/policies/cookies/</a
    >
  </li>
  <li>
    Instagram: <a
      class="text-info"
      href="https://help.instagram.com/1896641480634370?ref=ig"
      >https://help.instagram.com/1896641480634370?ref=ig</a
    >
  </li>
  <li>
    YouTube: <a
      class="text-info"
      href="https://policies.google.com/privacy?hl=es-419&amp;gl=mx"
      >https://policies.google.com/privacy?hl=es-419&amp;gl=mx</a
    >
  </li>
  <li>
    LinkedIn: <a
      class="text-info"
      href="https://www.linkedin.com/legal/cookie-policy?trk=hp-cookies"
      >https://www.linkedin.com/legal/cookie-policy?trk=hp-cookies</a
    >
  </li>
</ul>
