#container {
    width: fit-content;
    margin: auto;
    background-color: white;
    border-radius: 16px;
    padding: 16px;

}

.image-container{
  justify-content: center;
}

.book {
  margin-top: 70px;
}

o-button {
    margin-top: 22px;
}

.hidden {
  display: none; /* Oculta el div que envuelve o-image */
}

.hidden {
    display: none; /* Oculta el div que envuelve o-image */
}