.review-title {
  margin-left: 16px;
}
.review-container {
  border: solid 1px white;
  padding: 16px;
  border-radius: 8px;
  width: 90%;
  align-items: flex-start;
  background-color: #f0f0f0;
}

.login-name {
  background-color: #1a1a1a;
  padding: 8px;
  border-radius: 16px 8px 16px 8px;
  color: white;
}

.media_rating {
  color: #d3b403;
  transform: scale(1.5);
  padding-left: 8px;
}
