<div class="card-detalle">
  <div>
    <o-button attr="iconposition3" icon="arrow_back_ios" (click)="goBack()"></o-button>
  </div>
  <o-row attr="container" title="" icon="" layout-align="start stretch" elevation="1" appearance="none">
    <div class="image-container">
      <o-image  [ngClass]="{'hidden': !coworking.cw_image}" attr="cw_image" [data]=coworking.cw_image
        show-controls="no" read-only="yes" height="200px" width="200px" auto-fit="no"></o-image>
      <img *ngIf="!coworking.cw_image" src="assets/images/image-default.jpg" alt="Imagen predeterminada"/>
    </div>
    <div>
      <div><h1>{{ coworking.cw_name }}</h1></div>
      <div class="info-container">
        <p><strong>Localización:</strong> {{ coworking.cw_location }}</p>
        <p><strong>Descripción:</strong> {{ coworking.cw_description }}</p>
      </div>
      <div>
        <section class="services">
          <p><strong>Servicios:</strong></p>
          <div *ngIf="serviceList.length > 0; else noServices">
            <div *ngFor="let service of serviceList">
              <mat-icon *ngIf="serviceIcons[service.servicios]"  [title]="service.service | oTranslate ">
                {{ serviceIcons[service.servicios] }}
              </mat-icon>
            </div>
          </div>
          <ng-template #noServices>
            <p>Sin servicios</p>
          </ng-template>
        </section>
      </div>
      <div class="price-container">
        <p><strong>Capacidad:</strong> {{ coworking.cw_capacity }}</p>
        <span class="price">{{ coworking.cw_daily_price }}€</span>
      </div>
    </div>
  </o-row>
</div>