<o-form #form attr="coworkingDetail" service="coworkings" entity="coworking" header-actions="R"
  show-header-navigation="no" keys="cw_id" keys-sql-types="integer" columns="cw_id;cw_name" header-position="top"
  layout-direction="row" detect-changes-on-blur="no" fxFill undo-button="no" stay-in-record-after-insert="true"
  editable-detail="no">
  <div fxLayout="row" fxLayoutGap="30px" fxFill>
    <div id="container">
      <div class="card" fxLayout="column" fxFlex="calc(50% - 15px)">

        <div fxLayout="row" class="image-container">
          <!-- Campo para mostrar la imagen de coworking -->
          <div [ngClass]="{'hidden': !form.getFieldValue('cw_image')}">
            <!-- Ocultaremos el div cuando no exista "cw_image" -->
            <!-- Necesitamos el o-image para que se carge la imagen en el campo cw_image del form, sino no existiría el cw_image -->
            <o-image attr="cw_image" show-controls="no" read-only="yes" height="500px" width="900px"></o-image>
          </div>
          <!-- En el caso de que no exista, cargaremos la imagen por defecto y se ocultará el div anterior -->
          <img *ngIf="!form.getFieldValue('cw_image')" src="assets/images/image-default.jpg" alt="Imagen predeterminada"
            height="500px" width="900px" />
        </div>

        <div fxLayout="row" fxLayoutGap="15px">

          <o-column class="center" [title]="getName()" appearance="no" layout-gap="16px" fxFlex="1 1 100%"
            layout-align="start stretch">

            <div fxLayout="row">
              <o-text-input #name type="text" hidden="yes" attr="cw_name" fxFlex label="NAME"
                string-case="uppercase"></o-text-input>
            </div>

            <div fxLayout="row" fxLayoutGap="22px">
              <o-text-input attr="cw_location" fxFlex label="LOCATION"></o-text-input>
              <o-text-input attr="cw_address" fxFlex label="ADDRESS"></o-text-input>
            </div>

            <!-- TODO: insertar grid de servicios -->

            <!-- <div *ngFor="let service of serviceList">
              <span class="coworking-service">{{ service.servicios }}</span>
            </div> -->

            <div fxLayoutAlign="start center" fxLayoutGap="8px">
              <ng-container *ngFor="let service of serviceList">
                <span class="coworking-service">{{ service.servicios }}</span>
              </ng-container>
            </div>

            <div fxLayout="row">
              <o-textarea-input attr="cw_description" fxFlex label="DESCRIPTION"></o-textarea-input>
            </div>

            <div fxLayoutGap="22px">
              <div fxLayout="column" fxLayoutGap="22px">
                <o-integer-input #sites attr="cw_capacity" fxFlex label="CAPACITY"></o-integer-input>
                <o-integer-input label="REAL_CAPACITY" editable-detail="no" #realCapacity></o-integer-input>
              </div>
              <o-currency-input attr="cw_daily_price" fxFlex label="DAILY_PRICE"></o-currency-input>
            </div>
          </o-column>

          <div class="book">
            <o-form editable-detail="no" show-header="no">
              <!--Hay que añadir la funcion [min]  y value-type = date para desactivar las pasadas -->
              <o-date-input #date attr="date" label="Date" read-only="no" [min]="currentDate()"
                (onValueChange)="checkCapacity()" value-type="date"></o-date-input>
            </o-form>

            <div *ngIf="parsePermissions('bookingButton')">
              <o-button #bookingButton attr="bookingButton" label="{{'BOOKING' | oTranslate }}" type="raised"
                color="primary" (click)="showConfirm($event)" enabled="false"></o-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</o-form>
