.card {
  width: 80%;
  height: 80%;
  background-color: white;
  border-radius: 8px;
  padding: 20px;
}

h3 {
  margin: 0;
}

.daily_price {
  align-self: end;
}

.collapsible-container-items {
  display: flex;
  flex-direction: row;
  justify-items: space-evenly;
  gap: 10px;
  margin-bottom: 10px;
}
.form {
  display: flex;
  margin-bottom: 10px;
}
.btn-container {
  background-color: #e5e5e8;
  gap: 10px;
}
.collapsible-container-items button {
  display: flex;
  margin-right: 10px;
  align-items: center;
  vertical-align: middle;
  background-color: #f9f6f6;
  border: 1px solid #999698;
  border-radius: 2px;
}
.services-container {
  background-color: #e5e5e8;
}
o-combo {
  background-color: #f9f6f6;
}
.material-icons {
  color: #727074;
}
